# Pandas

Para poder trabalhar com Pandas, você deve conhecer bem estas duas estruturas: Series e DataFrame.

Para importar o pandas, utilize: **import pandas as pd**

Você também pode utilizar: **from pandas import Series, DataFrame**
    
Para atualizar o Pandas, abra o prompt de comando ou terminal e digite: **pip install pandas -U**

# Series

Series é um array unidimensional que contém um array de dados e um array de labels, chamado índice.

In [1]:
from pandas import Series

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.4'

In [4]:
# Criando uma séries sem especificar os índices
obj = Series([67, 78, -56, 13])

In [5]:
obj

0    67
1    78
2   -56
3    13
dtype: int64

In [6]:
type(obj)

pandas.core.series.Series

In [7]:
obj.values

array([ 67,  78, -56,  13], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# Criando uma série e especificando os índices
obj2 = Series([67, 78, -56, 13], index = ['a', 'b', 'c', 'd'])

In [10]:
obj2

a    67
b    78
c   -56
d    13
dtype: int64

In [11]:
obj2.values

array([ 67,  78, -56,  13], dtype=int64)

In [12]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
obj2[obj2 > 3]

a    67
b    78
d    13
dtype: int64

In [14]:
obj2['b']

78

In [15]:
'd' in obj2

True

In [16]:
# Criando uma série de dados passando um dicionário como parâmetro
dict = {'Futebol': 5200, 'Tênis': 120, 'Natação': 698, 'Volleyball': 1550}

In [17]:
# Criando um série a partir de um dicionário
obj3 = Series(dict)

In [18]:
obj3

Futebol       5200
Tênis          120
Natação        698
Volleyball    1550
dtype: int64

In [19]:
type(obj3)

pandas.core.series.Series

In [20]:
# Criando uma lista
esportes = ['Futebol', 'Tênis', 'Natação', 'Basktetball']

In [21]:
# Criando uma serie e usando uma lista como índice
obj4 = Series(dict, index=esportes)

In [22]:
obj4

Futebol        5200.0
Tênis           120.0
Natação         698.0
Basktetball       NaN
dtype: float64

In [23]:
pd.isnull(obj4)

Futebol        False
Tênis          False
Natação        False
Basktetball     True
dtype: bool

In [24]:
pd.notnull(obj4)

Futebol         True
Tênis           True
Natação         True
Basktetball    False
dtype: bool

In [25]:
obj4.isnull()

Futebol        False
Tênis          False
Natação        False
Basktetball     True
dtype: bool

In [26]:
# Concatenando Series
obj3 + obj4

Basktetball        NaN
Futebol        10400.0
Natação         1396.0
Tênis            240.0
Volleyball         NaN
dtype: float64

In [27]:
obj4.name = 'população'

In [28]:
obj4.index.name = 'esporte'

In [29]:
obj4

esporte
Futebol        5200.0
Tênis           120.0
Natação         698.0
Basktetball       NaN
Name: população, dtype: float64