# Listas

In [2]:
integer_list = [1, 2, 3]
heterogeneous = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous, []]

list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [4]:
list_length = len(integer_list) # é igual a 3
list_length

3

In [5]:
list_sum = sum(integer_list) # é igual a 6
list_sum

6

In [7]:
x = range(10)
type(x)

range

In [9]:
zero = x[0]
zero

0

In [11]:
one = x[1]
one

1

In [13]:
first_three = x[:3]
first_three

range(0, 3)

In [14]:
1 in [1, 2, 3, 4]

True

In [15]:
0 in [1, 2, 3, 4]

False

In [17]:
# concatenando listas
x = [1, 3, 4]
x.extend([2, 7, 4])

x

[1, 3, 4, 2, 7, 4]

In [18]:
x = [1, 2, 3]
y = x + [4, 5, 6]

y

[1, 2, 3, 4, 5, 6]

In [19]:
x = [1, 2, 3]
x.append(0)

x

[1, 2, 3, 0]