# Tuplas

In [1]:
my_list = [1, 2]
my_list

[1, 2]

In [2]:
my_tuple = (1, 2)
my_tuple

(1, 2)

In [3]:
other_tuple = 1, 2
other_tuple

(1, 2)

In [4]:
my_list[1] = 3
my_list

[1, 3]

In [5]:
try:
    my_tuple[1] = 3
except TypeError:
    print("Cannot modify a tuple")

Cannot modify a tuple

In [7]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sum_and_product(2, 3)

(5, 6)

In [8]:
s, p = sum_and_product(5, 10)

In [9]:
s

15

In [11]:
p

50