# Estrutura de dados - Dicionários

In [1]:
# Isso é uma lista
estudantesList = ['Fernanda', 20, 'Maria', 30]

In [2]:
estudantesList

['Fernanda', 20, 'Maria', 30]

In [3]:
# Isso é um dicionário
estudadesDic = {'Fernanda': 20, 'Maria': 30}

In [4]:
estudadesDic

{'Fernanda': 20, 'Maria': 30}

In [5]:
estudadesDic['Fernanda']

20

In [6]:
estudadesDic['Pedro'] = 24

In [7]:
estudadesDic

{'Fernanda': 20, 'Maria': 30, 'Pedro': 24}

In [8]:
# Limpando o dicionário
estudadesDic.clear()

In [9]:
estudadesDic

{}

In [10]:
# deletando o dicionário
del estudadesDic

In [11]:
estudadesDic

NameError: name 'estudadesDic' is not defined

In [12]:
# Novo dicionário
estudantes = {'Maria': 34, 'Tereza': 31, 'Cristiano': 27, 'João': 32}

In [13]:
estudantes

{'Maria': 34, 'Tereza': 31, 'Cristiano': 27, 'João': 32}

In [14]:
len(estudantes)

4

In [16]:
estudantes.keys()

dict_keys(['Maria', 'Tereza', 'Cristiano', 'João'])

In [17]:
estudantes.values()

dict_values([34, 31, 27, 32])

In [19]:
estudantes.items()

dict_items([('Maria', 34), ('Tereza', 31), ('Cristiano', 27), ('João', 32)])

In [20]:
estudantes2 = {'Erika': 27, 'Milton': 26, 'Debora': 30}

In [21]:
estudantes2

{'Erika': 27, 'Milton': 26, 'Debora': 30}

In [22]:
estudantes.update(estudantes2)

In [23]:
estudantes

{'Maria': 34,
 'Tereza': 31,
 'Cristiano': 27,
 'João': 32,
 'Erika': 27,
 'Milton': 26,
 'Debora': 30}

In [25]:
len(estudantes)

7

In [26]:
dic1 = {}

In [27]:
dic1

{}

In [29]:
dic1['key_one'] = 2

In [30]:
print(dic1)

{'key_one': 2}

In [31]:
dic1[10] = 5

In [32]:
dic1

{'key_one': 2, 10: 5}

In [33]:
dic1[8.2] = 'Python'

In [34]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python'}

In [35]:
dic1['teste'] = 5

In [36]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python', 'teste': 5}

In [37]:
dic1 = {}

In [38]:
dic1

{}

In [39]:
dic1['teste'] = 'teste'

In [41]:
dic1

{'teste': 'teste'}

In [42]:
dic2 = {}

In [43]:
dic2['key1'] = 'Big Data'

In [44]:
dic2['key2'] = 10

In [45]:
dic2['key3'] = 5.6

In [46]:
dic2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [47]:
# Dicionário de listas
dic3 = {'key1': 1234, 'key2': [20, 30, 49], 'key3': ['leite', 'carne',  'batata']}

In [48]:
dic3

{'key1': 1234, 'key2': [20, 30, 49], 'key3': ['leite', 'carne', 'batata']}

In [49]:
dic3['key2']

[20, 30, 49]

In [50]:
# Acessando um item da lista, dentro do dicionário
dic3['key3'][0].upper()

'LEITE'

In [51]:
# Operações com itens da lista, dentro do dicionário
var1 = dic3['key2'][0] - 2

In [52]:
var1

18

In [53]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dic3['key2'][0] -= 2

In [54]:
dic3

{'key1': 1234, 'key2': [18, 30, 49], 'key3': ['leite', 'carne', 'batata']}

## Criando dicionários aninhados

In [56]:
# Criando dicionários aninhados
dicAninhado = {'key1': {'key2_aninhada': {'key3_aninhada': 'Dicionário aninhado em Python'}}}

In [57]:
dicAninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dicionário aninhado em Python'}}}

In [58]:
dicAninhado['key1']['key2_aninhada']['key3_aninhada']

'Dicionário aninhado em Python'