In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import io

In [17]:
links_lista = []
titulos_lista = []
for page in range(1, 7):
	url = "http://dadosabertos.dataprev.gov.br/dataset?tags=Previd%C3%AAncia+Social&page=" + str(page)
	req = requests.get(url)	


	soup = BeautifulSoup(req.text, 'lxml')

	
	for link in soup.find_all('h3', class_ = "dataset-heading"):
		links_lista.append(link.a['href'])
		titulos_lista.append(link.a.text)

In [11]:
links_lista

['/dataset/emissao-por-meio-de-pagamento1',
 '/dataset/emissao-por-faixa-de-valor-e-grupos-especies',
 '/dataset/emissao-por-grupos-de-especies-e-sexo1',
 '/dataset/creditos-emitidos-mensal-por-pais',
 '/dataset/creditos-emitidos-na-concessao-por-uf',
 '/dataset/creditos-mensais-emitidos-concessao-grupo-de-especie',
 '/dataset/reabilitacao-profissional-por-uf',
 '/dataset/exames-normais-por-grupo-de-especie',
 '/dataset/exames-medico-periciais-por-tipo-e-uf',
 '/dataset/servico-social-por-uf',
 '/dataset/exames-com-parecer-conclusivo-por-uf',
 '/dataset/exames-medico-periciais-por-especialidade',
 '/dataset/exames-com-parecer-nao-conclusivo-por-uf',
 '/dataset/acidentes-do-trabalho-por-cid',
 '/dataset/acidentes-do-trabalho-por-mes1',
 '/dataset/acidentes-do-trabalho-por-cbo',
 '/dataset/acidentes-do-trabalho-liquidados-por-mes',
 '/dataset/acidentes-do-trabalho-por-atividade-economica-cnae-2-0',
 '/dataset/acidentes-do-trabalho-por-atividade-economica-cnae-95',
 '/dataset/acidentes-do-trabalho-por-idade',
 '/dataset/acidentes-do-trabalho-por-uf',
 '/dataset/acidentes-do-trabalho-liquidados-por-uf',
 '/dataset/acidentes-do-trabalho-por-parte-do-corpo-atingida',
 '/dataset/beneficios-concedidos-por-uf-e-grupos-de-especies',
 '/dataset/dependentes-ativos-por-grupos-de-idade',
 '/dataset/dependentes-de-pensao-por-morte-cessadas-por-grupos-de-idade',
 '/dataset/concessao-grupos-de-especies',
 '/dataset/beneficios-por-incapacidade-ativos-urbanos-por-classificacao-internacional-de-doencas-cid',
 '/dataset/historico-de-beneficios-mantidos-por-grupo-de-especies',
 '/dataset/beneficios-por-incapacidade-concedidos-por-classificacao-internacional-de-doencas-cid10',
 '/dataset/historico-de-beneficios-emitido-por-faixas-de-valor',
 '/dataset/historico-de-beneficios-ativos-por-grupo-de-especie',
 '/dataset/beneficios-concedidos-por-mes-e-grupos-de-especies',
 '/dataset/historico-de-beneficios-concedidos-por-grupo-de-especie',
 '/dataset/beneficios-cessados-por-motivo-e-grupos-de-especie',
 '/dataset/beneficios-mantidos-por-grupos-de-idade-na-data-de-inicio-de-beneficio-dib',
 '/dataset/beneficios-concedidos-por-idade-na-data-de-inicio-do-beneficio-dib',
 '/dataset/beneficios-mantidos-por-grupos-de-idade',
 '/dataset/beneficios-mantidos-por-uf-e-especies',
 '/dataset/beneficios-concedidos-por-uf-e-mes',
 '/dataset/beneficios-cessados-por-faixa-de-duracao',
 '/dataset/salario-maternidade-empresas-por-u',
 '/dataset/beneficios-ativos-por-grupos-de-idade',
 '/dataset/beneficios-ativos-por-grupos-de-idade-na-data-de-inicio-do-beneficio',
 '/dataset/beneficios-concedidos-por-faixas-de-valor',
 '/dataset/quantidade-de-deslocamento-e-permanencia-em-outros-paises',
 '/dataset/beneficios-cessados-com-motivo-morte-por-idade',
 '/dataset/beneficios-cessados-por-grupos-de-idade',
 '/dataset/aposentadorias-concedidas-por-anos-de-servico',
 '/dataset/aposentadorias-por-tempo-de-contribribuicao-ativas-por-ano-de-servico',
 '/dataset/prestacao-unica-mensal-por-especie',
 '/dataset/prestacao-unica-por-uf-e-especies',
 '/dataset/aposentadorias-por-tempo-contribuicao-mantidas-por-ano-de-servico',
 '/dataset/beneficios-cessados-com-motivo-morte-por-duracao',
 '/dataset/salarios-maternidade-concedidos-por-empresas-e-unidades-da-federacao',
 '/dataset/salarios-maternidade-concedidos-por-empresa-por-mes',
 '/dataset/beneficios-cessados-urbanos-por-classificacao-internacional-de-doencas-cid',
 '/dataset/beneficios-ativos-por-uf-e-grupos-de-especie',
 '/dataset/beneficios-cessados-por-uf-e-especies',
 '/dataset/salario-maternidade-empresas-cessadas-por-unidade-da-federacao',
 '/dataset/beneficios-cessados-por-motivo-e-uf',
 '/dataset/dadosabertos-dataprev-gov-br-group-aeps-beneficios',
 '/dataset/quantidade-deslocados-estrangeiros',
 '/dataset/vinculos-remuneracoes-por-exposicao-a-agente-nocivo-e-uf',
 '/dataset/outros-contribuintes-uf',
 '/dataset/trabalhadores-empregados-por-uf',
 '/dataset/vinculos-remuneracoes-mensais-por-exposicao-a-agente-nocivo',
 '/dataset/contribuintes-empregados-por-faixas-de-valor1',
 '/dataset/contribuintes-empregados-por-grupos-de-idade1',
 '/dataset/contribuintes-empregados-por-setor-de-atividade-economica2',
 '/dataset/contribuintes-empregados-por-uf1',
 '/dataset/contribuintes-individuais-por-classes-escala-salario-base2',
 '/dataset/contribuintes-empregados-por-n-contribuicoes-no-ano1',
 '/dataset/terceiros-por-uf',
 '/dataset/recolhimento-mensal-via-empresas-por-rubrica-grps',
 '/dataset/recolhimento-via-empresas-por-setor-atividade-economica',
 '/dataset/recolhimento-via-empresas-por-classe-de-atividade',
 '/dataset/terceiros-por-tipo-entidade',
 '/dataset/terceiros-por-mes',
 '/dataset/1historico-do-valor-da-arrecadacao-mensal',
 '/dataset/valor-arrecadado-por-fonte-de-receita-e-uf',
 '/dataset/recolhimento-via-empresas-por-rubrica-grps-uf',
 '/dataset/recolhimento-via-empresas-por-rubrica-gps-uf',
 '/dataset/recolhimento-via-empresas-por-rubrica-grps-fpas',
 '/dataset/outros-contribuintes-por-grupos-idade',
 '/dataset/outros-contribuintes-por-n-contribuicoes-no-ano',
 '/dataset/outros-contribuintes-por-numero-de-contribuicoes',
 '/dataset/outros-contribuintes-categoria',
 '/dataset/estatisticas-estabelecimentos-gfip-por-uf',
 '/dataset/estatisticas-contrib-pessoas-fisicas-por-uf',
 '/dataset/contribuintes-empregados-por-setor-de-atividade-economica1',
 '/dataset/estatisticas-contrib-pessoas-fisicas-por-idade',
 '/dataset/estatisticas-mensais-estabelecimentos-gfip',
 '/dataset/outros-contribuintes-por-faixas-de-recolhimento',
 '/dataset/contribuintes-pessoa-fisica-por-numero-de-contribuicoes',
 '/dataset/creditos-emitidos-grupos-de-especie',
 '/dataset/emissao-por-grupos-especie-e-mes',
 '/dataset/emissao-por-uf-especies',
 '/dataset/emissao-por-uf-mes',
 '/dataset/arrecadacao-mensal-uf',
 '/dataset/recolhimento-via-empresas-por-rubrica-gps-mes',
 '/dataset/valor-arrecadado-por-fonte-de-receita']

In [18]:
titulos_lista

['Emissão por meio de pagamento',
 'Emissão por faixa de valor e grupos de espécies',
 'Emissão por grupos de espécies e sexo',
 'Créditos emitidos mensal por país',
 'Créditos emitidos na concessão por UF',
 'Créditos mensais emitidos concessão grupo de espécie',
 'Reabilitação profissional por UF',
 'Exames Normais por grupo de espécie',
 'Exames médico-periciais por tipo e UF',
 'Serviço social por UF',
 'Exames com parecer conclusivo por UF',
 'Exames médico-periciais por especialidade',
 'Exames com parecer não conclusivo por UF',
 'Acidentes do trabalho por CID',
 'Acidentes do trabalho por mês',
 'Acidentes do Trabalho por CBO',
 'Acidentes do trabalho liquidados por mês',
 'Acidentes do trabalho  por atividade  econômica (CNAE 2.0)',
 'Acidentes do trabalho  por atividade econômica (CNAE 95)',
 'Acidentes do trabalho por idade',
 'Acidentes do trabalho por UF',
 'Acidentes do trabalho liquidados por UF',
 'Acidentes do Trabalho por parte do corpo atingida',
 'Benefícios concedidos por UF e grupos de espécies',
 'Dependentes Ativos por grupos de idade',
 'Dependentes de pensão por morte cessadas por grupos de idade',
 'Concessão grupos de espécies',
 'Benefícios por Incapacidade Ativos Urbanos por Classificação Internacional de...',
 'Histórico de benefícios mantidos por grupo de espécies',
 'Benefícios por Incapacidade Concedidos por Classificação Internacional de Doe...',
 'Histórico de Benefícios Emitido por faixas de valor',
 'Histórico de benefícios ativos por grupo de espécie',
 'Benefícios concedidos por mês e grupos de espécies',
 'Histórico de benefícios concedidos por grupo de espécie',
 'Benefícios cessados por motivo e grupos de espécie',
 'Benefícios mantidos por grupos de idade na Data de Início de Benefício (DIB)',
 'Benefícios concedidos por idade na Data de Início do Benefício (DIB)',
 'Benefícios mantidos por grupos de idade',
 'Benefícios mantidos por UF e espécies',
 'Benefícios concedidos por UF e mês',
 'Benefícios cessados por faixa de duração',
 'Salário Maternidade Empresas por Unidades da Federação',
 'Benefícios ativos por grupos de idade',
 'Benefícios ativos por grupos de idade na data de início do benefício',
 'Benefícios concedidos por faixas de valor',
 'Quantidade de deslocamento e permanência em outros países ',
 'Benefícios cessados com motivo morte por idade',
 'Benefícios cessados por grupos de idade',
 'Aposentadorias concedidas por anos de serviço',
 'Aposentadorias por tempo de contribribuição ativas por ano de serviço ',
 'Prestação única mensal por espécie',
 'Prestação única por UF e espécies',
 'Aposentadorias por tempo contribuição mantidas por ano de serviço',
 'Benefícios cessados com motivo morte por duração',
 'Salários-Maternidade concedidos por empresas e Unidades da Federação',
 'Salários-maternidade concedidos por empresa por mês',
 'Benefícios Cessados Urbanos por Classificação Internacional de Doenças (CID)',
 'Benefícios Ativos por UF e grupos de espécie',
 'Benefícios cessados por UF e espécies',
 'Salário Maternidade Empresas cessadas por Unidade da Federação',
 'Benefícios cessados por motivo e UF',
 'Concessão mensal por país',
 'Quantidade de deslocados estrangeiros',
 'Vínculos/Remunerações por Exposição a Agente Nocivo e UF',
 'Outros Contribuintes por UF',
 'Trabalhadores empregados por UF',
 'Vínculos/Remunerações Mensais por Exposição a Agente Nocivo',
 'Contribuintes Empregados por faixas de valor',
 'Contribuintes Empregados por grupos de idade.',
 'Contribuintes empregados por setor de atividade econômica2',
 'Contribuintes empregados por UF',
 'Contribuintes individuais por classes escala salário base',
 'Contribuintes empregados por número contribuições no ano',
 'Terceiros por UF',
 'Recolhimento mensal via empresas por rubrica GRPS',
 'Recolhimento via empresas por setor atividade econômica',
 'Recolhimento via empresas por classe de atividade',
 'Terceiros por tipo de entidade',
 'Terceiros por mês',
 'Histórico do valor da arrecadação mensal',
 'Valor arrecadado por fonte de receita e UF',
 'Recolhimento via empresas por rubrica GRPS e UF',
 'Recolhimento via empresas por rubrica GPS e UF',
 'Recolhimento via Empresas por Rubrica GRPS e FPAS',
 'Outros Contribuintes por grupos de idade',
 'Outros Contribuintes por nº contribuições no ano',
 'Outros Contribuintes por Número de Contribuições',
 'Outros Contribuintes por categoria',
 'Estatísticas de estabelecimentos GFIP por UF',
 'Estatísticas de Contrib. Pessoas Físicas por UF ',
 'Contribuintes empregados por setor de atividade econômica',
 'Estatísticas de Contrib. Pessoas Físicas por Idade',
 'Estatísticas mensais de estabelecimentos GFIP',
 'Outros Contribuintes por faixas de recolhimento',
 'Contribuintes Pessoa Física por Número de Contribuições',
 'Créditos emitidos grupos de espécie',
 'Emissão por grupos de espécie e mês',
 'Emissão por UF e espécies',
 'Emissão por UF e mês',
 'Arrecadação mensal por UF',
 'Recolhimento via empresas por rubrica GPS e mês',
 'Valor arrecadado por fonte de receita']

In [25]:
for i in range(len(links_lista)):
	url = "http://dadosabertos.dataprev.gov.br" + links_lista[i]
	req = requests.get(url)

	soup = BeautifulSoup(req.text, 'lxml')

	descricacao = soup.find(class_ = "embedded-content").p.text

	info = soup.find_all("td", class_ = "dataset-details");
	
	informacoes = [{
		'autor': info[0].next_element,
		'mantenedor': info[1].next_element,
		'cobertura_geografica': info[2].next_element,
		'documentacao': info[3].next_element,
		'frequencia_de_atualizacao': info[4].next_element,
		'granularidade_geografica': info[5].next_element,
		'granularidade_temporal': info[6].next_element,
		'vcge': info[7].next_element
	}]

	resource_item = soup.find("li", class_ = "resource-item")
	csv_url = resource_item.find(class_ = "resource-url-analytics")["href"]

	csv = requests.get(csv_url).content

	df = pd.read_csv(io.StringIO(csv.decode('latin1')), error_bad_lines=False, sep=',')
    
	print('df type:', df.dtypes)
	print('head:', df.head(3))

df type: Ano                                object
Unidade da Federação               object
Meio de Pagamento                  object
Quantidade Benefícios Emitidos    float64
Vlr Benefícios Emitidos (R$)       object
Vlr Benef Emitidos Acum (R$)       object
dtype: object
head:     Ano Unidade da Federação      Meio de Pagamento  \
0  1996             Rondônia                  Cupom
1  1996             Rondônia                 Cartão
2  1996             Rondônia  Conta Corrente (Fita)

   Quantidade Benefícios Emitidos Vlr Benefícios Emitidos (R$)  \
0                             0.0                         0,00
1                         65129.0                   8423298,76
2                           579.0                    190043,65

  Vlr Benef Emitidos Acum (R$)
0                 199415,84000
1              106178787,39990
2                2480698,92996
df type: Ano                               object
Faixa de Valor                    object
Clientela                         object
Quantidade Benefícios Emitidos    object
Vlr Benefícios Emitidos (R$)      object
Grupos/Principais Espécies        object
Vlr Benef Emitidos (Mil R$)       object
dtype: object
head:     Ano Faixa de Valor Clientela Quantidade Benefícios Emitidos  \
0  2000    Abaixo de 1    Urbana                          27247
1  2000    Abaixo de 1    Urbana                           5478
2  2000    Abaixo de 1    Urbana                            132

  Vlr Benefícios Emitidos (R$)    Grupos/Principais Espécies  \
0                   1559562,04      42-Ap Tempo Contrib LOPS
1                    508575,65  46-Ap Tempo Contrib Especial
2                      9176,72       Outras Ap Tempo Contrib

  Vlr Benef Emitidos (Mil R$)
0                     1559,56
1                      508,58
2                        9,18
df type: Ano                                object
Clientela                          object
Sexo                               object
Grupo de Espécies                  object
Qte Benef Emitidos                float64
Vlr Benef Emitidos (R$)            object
Vlr Benef Emit Acum (R$)           object
Vlr Benef Emitidos (Mil R$)        object
Vlr Benef Emitidos Ac (Mil R$)     object
dtype: object
head:     Ano Clientela       Sexo           Grupo de Espécies  Qte Benef Emitidos  \
0  2001    Urbana  Masculino  Apos Tempo de Contribuição           2660648.0
1  2001    Urbana   Feminino  Apos Tempo de Contribuição            701847.0
2  2001    Urbana   Ignorado  Apos Tempo de Contribuição             22053.0

  Vlr Benef Emitidos (R$) Vlr Benef Emit Acum (R$)  \
0           1813492822,65           22847774772,84
1            381400097,84            4725434582,81
2             14265980,54             185742434,02

  Vlr Benef Emitidos (Mil R$) Vlr Benef Emitidos Ac (Mil R$)
0                  1813492,82                    22847774,77
1                   381400,10                     4725434,58
2                    14265,98                      185742,43
df type: Ano                          object
Mês                          object
Evolução Mensal (AnoMês)     object
Países Acordantes            object
Qtd Créd. Emit AcInt        float64
Vlr Créd. Emit AcInt         object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMês) Países Acordantes  \
0  1999  Janeiro                   199901           Espanha
1  1999  Janeiro                   199901            Grécia
2  1999  Janeiro                   199901          Portugal

   Qtd Créd. Emit AcInt Vlr Créd. Emit AcInt
0                   0.0                 0,00
1                   0.0                 0,00
2                8536.0           3200870,27
df type: Ano                             object
Unidade da Federação            object
Clientela                       object
Valor Creditos Emitidos (R$)    object
Valor Cred Emitidos (Mil R$)    object
dtype: object
head:     Ano Unidade da Federação Clientela Valor Creditos Emitidos (R$)  \
0  1996             Rondônia    Urbana                   1902622,92
1  1997             Rondônia    Urbana                   1925851,43
2  1998             Rondônia    Urbana                   1684305,16

  Valor Cred Emitidos (Mil R$)
0                      1902,62
1                      1925,85
2                      1684,31
df type: Ano                              object
Mês                              object
Grupo de Espécies                object
Clientela                        object
Evolução Mensal(AnoMes)          object
Valor Creditos Emitidos (R$)     object
Valor Crédi Emitidos (R$ Mil)    object
dtype: object
head:     Ano        Mês           Grupo de Espécies Clientela  \
0  1998    Janeiro  Apos Tempo de Contribuição    Urbana
1  1998  Fevereiro  Apos Tempo de Contribuição    Urbana
2  1998      Março  Apos Tempo de Contribuição    Urbana

  Evolução Mensal(AnoMes) Valor Creditos Emitidos (R$)  \
0                  199801                  35286861,05
1                  199802                  32009454,53
2                  199803                  44182267,21

  Valor Crédi Emitidos (R$ Mil)
0                      35286,86
1                      32009,45
2                      44182,27
df type: Ano                      object
Unidade da Federação     object
Cliente Registrado       object
Cliente Retorno Trab    float64
Cliente Inelegível      float64
Cliente Elegível        float64
Cliente Reabilitado     float64
Vlr Rec. Materiais       object
Cliente em Programa     float64
Cliente + 240 dias      float64
Qtde Rec. Materiais     float64
Estatísticas             object
dtype: object
head:     Ano Unidade da Federação Cliente Registrado  Cliente Retorno Trab  \
0  1999             Rondônia                110                  12.0
1  1999             Amazonas                365                  94.0
2  1999                 Pará                882                  23.0

   Cliente Inelegível  Cliente Elegível  Cliente Reabilitado  \
0                24.0              63.0                 86.0
1               153.0              80.0                 80.0
2               184.0             505.0                215.0

  Vlr Rec. Materiais  Cliente em Programa  Cliente + 240 dias  \
0           16330,74                 36.0                 9.0
1           97891,00                 98.0                 0.0
2          268146,12                171.0                26.0

   Qtde Rec. Materiais        Estatísticas
0                132.0  Cliente Registrado
1               2265.0  Cliente Registrado
2              28348.0  Cliente Registrado

b'Skipping line 25: expected 1 fields, saw 2\nSkipping line 27: expected 1 fields, saw 2\nSkipping line 35: expected 1 fields, saw 2\n'

df type: <HTML>    object
dtype: object
head:                                               <HTML>
0  <meta http-equiv="Content-Type" content="text/...
1                                             <HEAD>
2                  <SCRIPT LANGUAGE="JavaScript1.1">
df type: Ano                         object
Unidade da Federação        object
Tipo Exame  Med Pericial    object
Origem do médico            object
Quantidade de Exames        object
Tipo de Conclusão           object
Valor de Exames (R$)        object
dtype: object
head:     Ano Unidade da Federação Tipo Exame  Med Pericial      Origem do médico  \
0  1988             Rondônia                  Normais  Médicos Credenciados
1  1988                 Acre                  Normais  Médicos Credenciados
2  1988             Amazonas                  Normais  Médicos Credenciados

  Quantidade de Exames Tipo de Conclusão Valor de Exames (R$)
0                    0          Ignorada                 0,00
1                    0          Ignorada                 0,00
2                  359          Ignorada                 0,00
df type: Ano                      object
Unidade da Federação     object
Cliente Inscrito         object
Proced Benef/Perícia    float64
Atendimento Técnico     float64
Trat Soc Concluído      float64
Rec Mat Concedidos      float64
Cliente Ben c/ R Mat    float64
Estatísticas             object
dtype: object
head:     Ano Unidade da Federação Cliente Inscrito  Proced Benef/Perícia  \
0  1995             Rondônia             4379                 993.0
1  1995                 Acre              326                 117.0
2  1995             Amazonas             9817                7611.0

   Atendimento Técnico  Trat Soc Concluído  Rec Mat Concedidos  \
0               9541.0              4169.0                 8.0
1                984.0                 0.0                35.0
2              27821.0              9825.0               295.0

   Cliente Ben c/ R Mat      Estatísticas
0                   8.0  Cliente Inscrito
1                  35.0  Cliente Inscrito
2                 219.0  Cliente Inscrito
df type: Ano                               object
Unidade da Federação              object
Retorno do Parecer                object
Q Exames Parecer Conclusivo       object
Local do Exame                    object
V Exame Parecer Conclusivo(R$)    object
dtype: object
head:     Ano Unidade da Federação Retorno do Parecer Q Exames Parecer Conclusivo  \
0  1992             Rondônia             Aceito                           0
1  1992             Rondônia             Aceito                           0
2  1992             Rondônia           Em Juízo                           0

  Local do Exame V Exame Parecer Conclusivo(R$)
0    Consultório                           0,00
1     Domiciliar                           0,00
2       Em Juízo                           0,00
df type: Ano                                object
Especialidade                      object
Qtde Exames Complementares        float64
Vlr Exames Complementares (R$)     object
dtype: object
head:     Ano    Especialidade  Qtde Exames Complementares  \
0  1996      Cardiologia                     18497.0
1  1996  Cicloergometria                      3991.0
2  1996     Dermatologia                       273.0

  Vlr Exames Complementares (R$)
0                      129479,00
1                      100567,00
2                        2165,00
df type: Ano                               object
Unidade da Federação              object
Local do Exame                    object
Q Exames Parecer ñ Conclusivo    float64
V Ex Parecer ñ Conclusivo(R$)     object
dtype: object
head:     Ano Unidade da Federação Local do Exame  Q Exames Parecer ñ Conclusivo  \
0  1995             Amazonas    Consultório                          814.0
1  1995             Amazonas     Domiciliar                            7.0
2  1995                 Pará    Consultório                         1732.0

  V Ex Parecer ñ Conclusivo(R$)
0                       4709,00
1                         56,00
2                       9602,00
df type: Ano                object
Motivo/Situação    object
CID                object
Qte Acidentes      object
Situação           object
dtype: object
head:     Ano Motivo/Situação                          CID Qte Acidentes  \
0  2000  Típico-Com Cat                   998:Outros         47649
1  2000  Típico-Com Cat                 999:Ignorado         38246
2  2000  Típico-Com Cat  S61:Ferim do Punho e da Mao         35606

             Situação
0  Com Cat Registrada
1  Com Cat Registrada
2  Com Cat Registrada
df type: Ano                         object
Mês                         object
Motivo/Situação             object
Qte Acidentes               object
Evolução Mensal (AnoMes)    object
Situação                    object
dtype: object
head:     Ano        Mês Motivo/Situação Qte Acidentes Evolução Mensal (AnoMes)  \
0  1997    Janeiro  Típico-Com Cat         27116                   199701
1  1997  Fevereiro  Típico-Com Cat         24612                   199702
2  1997      Março  Típico-Com Cat         28273                   199703

             Situação
0  Com Cat Registrada
1  Com Cat Registrada
2  Com Cat Registrada
df type: Ano                object
CBO                object
Motivo/Situação    object
Qte Acidentes      object
Situacao           object
dtype: object
head:     Ano                         CBO             Motivo/Situação Qte Acidentes  \
0  2004  Membros das Forças Armadas              Típico-Com Cat           310
1  2004  Membros das Forças Armadas             Trajeto-Com Cat            69
2  2004  Membros das Forças Armadas  Doença do Trabalho-Com Cat            15

             Situacao
0  Com Cat Registrada
1  Com Cat Registrada
2  Com Cat Registrada
df type: Ano                                object
Mês                                object
Assistência Médica                 object
Incapacidade Temporária            object
Incap Temporária menos 15 dias    float64
Incap Temporária mais 15 dias     float64
Incapacidade Permanente           float64
Óbito                             float64
Evolução Mensal (AnoMes)           object
Acidentes Liquidados              float64
Conseqüência                       object
dtype: object
head:     Ano        Mês Assistência Médica Incapacidade Temporária  \
0  1996    Janeiro              64333                   28585
1  1996  Fevereiro              83474                   30173
2  1996      Março              54460                   31810

   Incap Temporária menos 15 dias  Incap Temporária mais 15 dias  \
0                         17385.0                        11200.0
1                         17348.0                        12825.0
2                         18531.0                        13279.0

   Incapacidade Permanente  Óbito Evolução Mensal (AnoMes)  \
0                   1307.0  371.0                   199601
1                   1116.0  345.0                   199602
2                   1452.0  463.0                   199603

   Acidentes Liquidados        Conseqüência
0               94596.0  Assistência Médica
1              115108.0  Assistência Médica
2               88185.0  Assistência Médica
df type: Ano                object
CNAE               object
Motivo/Situação    object
Qte Acidentes      object
Situação           object
GrupoCnae          object
GrCnaeLetra        object
dtype: object
head:     Ano           CNAE             Motivo/Situação Qte Acidentes  \
0  2006  9999:Ignorado              Típico-Com Cat         10941
1  2006  9999:Ignorado  Doença do Trabalho-Com Cat           287
2  2006  9999:Ignorado             Trajeto-Com Cat          1221

             Situação GrupoCnae GrCnaeLetra
0  Com Cat Registrada  IGNORADO    IGNORADO
1  Com Cat Registrada  IGNORADO    IGNORADO
2  Com Cat Registrada  IGNORADO    IGNORADO
df type: Ano                          object
CNAE                         object
Motivo                       object
Qte Acidentes Registrados    object
Situação                     object
GrupoCnae                    object
GrCnaeLetra                  object
dtype: object
head:     Ano                CNAE                      Motivo  \
0  1997  Cultivo de Cereais              Típico-Com Cat
1  1997  Cultivo de Cereais             Trajeto-Com Cat
2  1997  Cultivo de Cereais  Doença do Trabalho-Com Cat

  Qte Acidentes Registrados            Situação  \
0                       555  Com Cat Registrada
1                        23  Com Cat Registrada
2                         9  Com Cat Registrada

                       GrupoCnae  \
0  Agric., pec.e serviços relac.
1  Agric., pec.e serviços relac.
2  Agric., pec.e serviços relac.

                                      GrCnaeLetra
0  Agric., pec.,silvicultura e exploração florest
1  Agric., pec.,silvicultura e exploração florest
2  Agric., pec.,silvicultura e exploração florest

df type: Ano                object
Idade              object
Motivo/Situação    object
Sexo               object
Qte Acidentes      object
Situação           object
dtype: object
head:     Ano        Idade Motivo/Situação       Sexo Qte Acidentes  \
0  1997  Até 19 Anos  Típico-Com Cat  Masculino          7581
1  1997  Até 19 Anos  Típico-Com Cat   Feminino          1061
2  1997  Até 19 Anos  Típico-Com Cat   Ignorado         18851

             Situação
0  Com Cat Registrada
1  Com Cat Registrada
2  Com Cat Registrada
df type: <?xml version="1.0" encoding="ISO-8859-1"?>    object
dtype: object
head:   <?xml version="1.0" encoding="ISO-8859-1"?>
0                                <viewrecord>
1                                     <nodes>
2                                      <node>
df type: Ano                                object
Unidade da Federação               object
Assistência Médica                 object
Incapacidade Temporária           float64
Incap Temporária menos 15 dias    float64
Incap Temporária mais 15 dias     float64
Incapacidade Permanente           float64
Óbito                             float64
Acidentes Liquidados              float64
Conseqüência                       object
dtype: object
head:     Ano Unidade da Federação Assistência Médica  Incapacidade Temporária  \
0  1995             Rondônia                  8                    381.0
1  1995                 Acre                  0                     89.0
2  1995             Amazonas                393                   1607.0

   Incap Temporária menos 15 dias  Incap Temporária mais 15 dias  \
0                           171.0                          210.0
1                            58.0                           31.0
2                           929.0                          678.0

   Incapacidade Permanente  Óbito  Acidentes Liquidados        Conseqüência
0                     91.0    0.0                 480.0  Assistência Médica
1                      7.0    3.0                  99.0  Assistência Médica
2                    112.0   60.0                2172.0  Assistência Médica
df type: Ano                object
Parte atingida     object
Motivo/Situação    object
Qte Acidentes      object
Situação           object
dtype: object
head:     Ano               Parte atingida             Motivo/Situação  \
0  2002  Crânio (Inclusive Encéfalo)              Típico-Com Cat
1  2002  Crânio (Inclusive Encéfalo)             Trajeto-Com Cat
2  2002  Crânio (Inclusive Encéfalo)  Doença do Trabalho-Com Cat

  Qte Acidentes            Situação
0           735  Com Cat Registrada
1           358  Com Cat Registrada
2             7  Com Cat Registrada
df type: Ano                               object
Espécie                           object
Unidade da Federação              object
Clientela                         object
Qte Benefícios Concedidos         object
Vlr Benefícios Concedidos (R$)    object
Grupo/Principais Espécies         object
Vlr Benef Concedidos (Mil R$)     object
dtype: object
head:     Ano                        Espécie Unidade da Federação Clientela  \
0  1988  42-Ap Tempo Contribuição Lops             Rondônia    Urbana
1  1988  42-Ap Tempo Contribuição Lops                 Acre    Urbana
2  1988  42-Ap Tempo Contribuição Lops             Amazonas    Urbana

  Qte Benefícios Concedidos Vlr Benefícios Concedidos (R$)  \
0                        20                           0,00
1                        13                           0,00
2                        98                           0,00

  Grupo/Principais Espécies Vlr Benef Concedidos (Mil R$)
0  42-Ap Tempo Contrib LOPS                          0,00
1  42-Ap Tempo Contrib LOPS                          0,00
2  42-Ap Tempo Contrib LOPS                          0,00
df type: Ano                             object
Espécie                         object
Idade Dependente                object
Sexo                            object
Clientela                       object
Grupo de Vinculo                object
Qte Dependentes Recebedores     object
Qte Dependentes                float64
Grupo/Principais Espécies       object
dtype: object
head:     Ano                    Espécie Idade Dependente       Sexo Clientela  \
0  2004  21-Pensões por Morte Lops      0 a  4 Anos  Masculino    Urbana
1  2004  21-Pensões por Morte Lops      0 a  4 Anos   Feminino    Urbana
2  2004  21-Pensões por Morte Lops      5 a  9 Anos  Masculino    Urbana

                    Grupo de Vinculo Qte Dependentes Recebedores  \
0  Cônjuge,Companheiro ou Ex-Cônjuge                           0
1  Cônjuge,Companheiro ou Ex-Cônjuge                           0
2  Cônjuge,Companheiro ou Ex-Cônjuge                           0

   Qte Dependentes Grupo/Principais Espécies
0              0.0         Pensões por Morte
1              0.0         Pensões por Morte
2              0.0         Pensões por Morte
df type: Ano                             object
Espécie                         object
Idade Dependente                object
Sexo                            object
Clientela                       object
Grupo de Vinculo                object
Qte Dependentes Recebedores     object
Qte Dependentes                float64
Grupo/Principais Espécies       object
dtype: object
head:     Ano                       Espécie Idade Dependente       Sexo Clientela  \
0  2002  Pensão por Morte Acidentária      0 a  4 Anos  Masculino    Urbana
1  2002  Pensão por Morte Acidentária      0 a  4 Anos   Feminino    Urbana
2  2002  Pensão por Morte Acidentária      0 a  4 Anos  Masculino    Urbana

                    Grupo de Vinculo Qte Dependentes Recebedores  \
0  Cônjuge,Companheiro ou Ex-Cônjuge                           0
1  Cônjuge,Companheiro ou Ex-Cônjuge                           0
2        Filho,Filho Adotivo e Irmão                           0

   Qte Dependentes       Grupo/Principais Espécies
0              0.0  Pensões por Morte Acidentárias
1              0.0  Pensões por Morte Acidentárias
2              1.0  Pensões por Morte Acidentárias
df type: Ano                      object
Países Acordantes        object
Espécies - Ac. Int.      object
Qtd Benef Conc AcInt    float64
Vlr Benef Conc AcInt     object
dtype: object
head:     Ano Países Acordantes              Espécies - Ac. Int.  \
0  1999         Argentina                  Apos. por Idade
1  1999         Argentina              Apos. por Invalidez
2  1999         Argentina  Apos. por Tempo de Contribuição

   Qtd Benef Conc AcInt Vlr Benef Conc AcInt
0                   0.0                 0,00
1                   0.0                 0,00
2                   1.0               227,52
df type: Ano                             object
Espécie                         object
Capitulo da CID                 object
Sexo                            object
Clientela                       object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Grupo/Principais Espécies       object
Valor (R$ mil)                  object
dtype: object
head:     Ano                    Espécie  \
0  2004  Ap Invalidez Det Ignorado
1  2004  Ap Invalidez Det Ignorado
2  2004  Ap Invalidez Det Ignorado

                                 Capitulo da CID       Sexo Clientela  \
0  Cid 9 - I - Doenças Infecciosas e Parasitária  Masculino    Urbana
1  Cid 9 - I - Doenças Infecciosas e Parasitária   Feminino    Urbana
2  Cid 9 - I - Doenças Infecciosas e Parasitária   Ignorado    Urbana

  Quantidade Benefícios Ativos Valor Benefícios Ativos (R$)  \
0                        18646                   5795330,45
1                         9765                   2343602,54
2                            5                      1093,15

  Grupo/Principais Espécies Valor (R$ mil)
0              Ap Invalidez        5795,33
1              Ap Invalidez        2343,60
2              Ap Invalidez           1,09
df type: Ano                                object
Grupo de Espécies                  object
Clientela                          object
Quantidade Benefícios Mantidos    float64
Valor Benefícios Mantidos (R$)     object
dtype: object
head:     Ano           Grupo de Espécies Clientela  Quantidade Benefícios Mantidos  \
0  1980  Apos Tempo de Contribuição     Rural                             0.0
1  1981  Apos Tempo de Contribuição     Rural                             0.0
2  1982  Apos Tempo de Contribuição     Rural                             0.0

  Valor Benefícios Mantidos (R$)
0                           0,00
1                           0,00
2                           0,00

df type: Ano                               object
Espécie                           object
CID10                             object
Sexo                              object
Clientela                         object
Qde Benefícios Concedidos         object
Grupo CID                         object
Grupo/Principais Espécies         object
Valor Benef Concedidos (R$)       object
Valor Benef Concedidos(Mil R$)    object
dtype: object
head:     Ano               Espécie                                          CID10  \
0  2008  32-Ap Invalidez Lops                   A02:Outr Infecc p/Salmonella
1  2008  32-Ap Invalidez Lops             A04:Outr Infecc Intestinais Bacter
2  2008  32-Ap Invalidez Lops  A15:Tuberc Respirat c/Conf Bacteriol e Histol

        Sexo Clientela Qde Benefícios Concedidos  \
0  Masculino    Urbana                         1
1  Masculino    Urbana                         1
2  Masculino    Urbana                       112

                                    Grupo CID Grupo/Principais Espécies  \
0  Algumas doenças infecciosas e parasitárias              Ap Invalidez
1  Algumas doenças infecciosas e parasitárias              Ap Invalidez
2  Algumas doenças infecciosas e parasitárias              Ap Invalidez

  Valor Benef Concedidos (R$) Valor Benef Concedidos(Mil R$)
0                     1979,13                           1,98
1                     1100,16                           1,10
2                    89232,02                          89,23
df type: Ano                                object
Fx Valor Emissão (Pisos Prev)      object
Clientela                          object
Quantidade Benefícios Emitidos    float64
Vlr Benefícios Emitidos (R$)       object
Vlr Benef Emitidos (Mil R$)        object
dtype: object
head:     Ano Fx Valor Emissão (Pisos Prev) Clientela  \
0  1994                   Abaixo de 1  Ignorada
1  1995                   Abaixo de 1  Ignorada
2  1996                   Abaixo de 1  Ignorada

   Quantidade Benefícios Emitidos Vlr Benefícios Emitidos (R$)  \
0                        398054.0                  13029874,97
1                        383562.0                  18232891,79
2                        412610.0                  22476437,59

  Vlr Benef Emitidos (Mil R$)
0                    13029,87
1                    18232,89
2                    22476,44
df type: Ano                              object
Grupo de Espécies                object
Clientela                        object
Quantidade Benefícios Ativos    float64
Valor Benefícios Ativos (R$)     object
dtype: object
head:     Ano           Grupo de Espécies Clientela  Quantidade Benefícios Ativos  \
0  2002  Apos Tempo de Contribuição    Urbana                     3399193.0
1  2003  Apos Tempo de Contribuição    Urbana                     3463708.0
2  2004  Apos Tempo de Contribuição    Urbana                     3532990.0

  Valor Benefícios Ativos (R$)
0                2446628867,72
1                2994132098,00
2                3259035512,78
df type: Ano                               object
Mês                               object
Clientela                         object
Qte Benefícios Concedidos         object
Evolução Mensal (AnoMes)          object
Vlr Benefícios Concedidos (R$)    object
Grupo/Principais Espécies         object
Vlr Benef Concedidos (Mil R$)     object
dtype: object
head:     Ano      Mês Clientela Qte Benefícios Concedidos Evolução Mensal (AnoMes)  \
0  1992  Janeiro    Urbana                      5508                   199201
1  1992  Janeiro    Urbana                      2503                   199201
2  1992  Janeiro    Urbana                       104                   199201

  Vlr Benefícios Concedidos (R$)     Grupo/Principais Espécies  \
0                         529,06      42-Ap Tempo Contrib LOPS
1                         280,11  46-Ap Tempo Contrib Especial
2                           8,47       Outras Ap Tempo Contrib

  Vlr Benef Concedidos (Mil R$)
0                          0,53
1                          0,28
2                          0,01
df type: Ano                                object
Grupo de Espécies                  object
Clientela                          object
Qte Benefícios Concedidos         float64
Vlr Benefícios Concedidos (R$)     object
Vlr Benef Concedidos (Mil R$)      object
dtype: object
head:     Ano           Grupo de Espécies Clientela  Qte Benefícios Concedidos  \
0  1980  Apos Tempo de Contribuição    Urbana                    82845.0
1  1981  Apos Tempo de Contribuição    Urbana                   104832.0
2  1982  Apos Tempo de Contribuição    Urbana                    98812.0

  Vlr Benefícios Concedidos (R$) Vlr Benef Concedidos (Mil R$)
0                           0,00                          0,00
1                           0,00                          0,00
2                           0,00                          0,00
df type: <?xml version="1.0" encoding="ISO-8859-1"?>    object
dtype: object
head:   <?xml version="1.0" encoding="ISO-8859-1"?>
0                                <viewrecord>
1                                     <nodes>
2                                      <node>
df type: Ano                               object
Espécie                           object
Idade                             object
Sexo                              object
Clientela                         object
Quantidade Benefícios Mantidos    object
Vlr Benef Mantidos (R$)           object
Grupos de Espécies                object
Qte e Valor                       object
dtype: object
head:     Ano                Espécie         Idade       Sexo Clientela  \
0  1992  Ap Idade Det Ignorado  60 a 64 Anos  Masculino    Urbana
1  1992  Ap Idade Det Ignorado  60 a 64 Anos   Feminino    Urbana
2  1992  Ap Idade Det Ignorado  60 a 64 Anos   Ignorado    Urbana

  Quantidade Benefícios Mantidos Vlr Benef Mantidos (R$)  \
0                              0                    0,00
1                         555031                    0,00
2                           4060                    0,00

        Grupos de Espécies                     Qte e Valor
0  Aposentadoria por Idade  Quantidade Benefícios Mantidos
1  Aposentadoria por Idade  Quantidade Benefícios Mantidos
2  Aposentadoria por Idade  Quantidade Benefícios Mantidos

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

df type: <?xml version="1.0" encoding="ISO-8859-1"?>    object
dtype: object
head:   <?xml version="1.0" encoding="ISO-8859-1"?>
0                                <viewrecord>
1                                     <nodes>
2                                      <node>
df type: Ano                               object
Espécie                           object
Idade                             object
Sexo                              object
Clientela                         object
Quantidade Benefícios Mantidos    object
Valor Benefícios Mantidos (R$)    object
Grupo/Principais Espécies         object
dtype: object
head:     Ano                             Espécie         Idade       Sexo  \
0  1996  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos  Masculino
1  1996  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos   Feminino
2  1996  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos   Ignorado

  Clientela Quantidade Benefícios Mantidos Valor Benefícios Mantidos (R$)  \
0    Urbana                              3                           0,00
1    Urbana                              1                           0,00
2    Urbana                              0                           0,00

       Grupo/Principais Espécies
0  Ap Tempo Contrib Det Ignorado
1  Ap Tempo Contrib Det Ignorado
2  Ap Tempo Contrib Det Ignorado
df type: Ano                               object
Espécie                           object
Unidade da Federação              object
Clientela                         object
Quantidade Benefícios Mantidos    object
Vlr Benef Mantidos (R$)           object
Qte e Valor                       object
Grupo/Principais Espécies         object
dtype: object
head:     Ano                        Espécie Unidade da Federação Clientela  \
0  1988  42-Ap Tempo Contribuição Lops              Alagoas    Urbana
1  1988  42-Ap Tempo Contribuição Lops             Amazonas    Urbana
2  1988  42-Ap Tempo Contribuição Lops                Bahia    Urbana

  Quantidade Benefícios Mantidos Vlr Benef Mantidos (R$)  \
0                           6205                    0,20
1                           3076                    0,13
2                          31049                    1,27

                      Qte e Valor Grupo/Principais Espécies
0  Quantidade Benefícios Mantidos  42-Ap Tempo Contrib LOPS
1  Quantidade Benefícios Mantidos  42-Ap Tempo Contrib LOPS
2  Quantidade Benefícios Mantidos  42-Ap Tempo Contrib LOPS
df type: Ano                               object
Mês                               object
Unidade da Federação              object
Clientela                         object
Qte Benefícios Concedidos         object
Evolução Mensal (AnoMes)          object
Vlr Benefícios Concedidos (R$)    object
Vlr Benef Concedidos (Mil R$)     object
dtype: object
head:     Ano        Mês Unidade da Federação Clientela Qte Benefícios Concedidos  \
0  1996    Janeiro             Rondônia    Urbana                       129
1  1996  Fevereiro             Rondônia    Urbana                       202
2  1996      Março             Rondônia    Urbana                       423

  Evolução Mensal (AnoMes) Vlr Benefícios Concedidos (R$)  \
0                   199601                       33355,80
1                   199602                       46178,40
2                   199603                       71319,00

  Vlr Benef Concedidos (Mil R$)
0                         33,36
1                         46,18
2                         71,32
df type: Ano                               object
Espécie de Benefício              object
Sexo                              object
Clientela                         object
Quantidade Benefícios Cessados    object
Tempo de Duração                  object
Tempo Duração Auxílio-Doença      object
Grupo/Principais Espécies         object
dtype: object
head:     Ano                Espécie de Benefício       Sexo Clientela  \
0  2000  Ap Tempo Contribuição Det Ignorado  Masculino    Urbana
1  2000  Ap Tempo Contribuição Det Ignorado   Feminino    Urbana
2  2000  Ap Tempo Contribuição Det Ignorado   Ignorado    Urbana

  Quantidade Benefícios Cessados Tempo de Duração  \
0                            802   Menos de 1 ano
1                            239   Menos de 1 ano
2                              0   Menos de 1 ano

  Tempo Duração Auxílio-Doença      Grupo/Principais Espécies
0                    {ñ class}  Ap Tempo Contrib Det Ignorado
1                    {ñ class}  Ap Tempo Contrib Det Ignorado
2                    {ñ class}  Ap Tempo Contrib Det Ignorado
df type: Ano                             object
Espécie                         object
Unidade da Federação            object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Qte e Valor                     object
dtype: object
head:     Ano                 Espécie Unidade da Federação  \
0  2003  80-Salário-Maternidade             Rondônia
1  2003  80-Salário-Maternidade                 Acre
2  2003  80-Salário-Maternidade             Amazonas

  Quantidade Benefícios Ativos Valor Benefícios Ativos (R$)  \
0                          501                    162257,87
1                          141                     61974,73
2                          898                    514666,99

                    Qte e Valor
0  Quantidade Benefícios Ativos
1  Quantidade Benefícios Ativos
2  Quantidade Benefícios Ativos
df type: Ano                             object
Espécie                         object
Idade                           object
Sexo                            object
Clientela                       object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Grupo/Principais Espécies       object
dtype: object
head:     Ano                             Espécie         Idade       Sexo  \
0  2004  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos  Masculino
1  2004  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos   Feminino
2  2004  Ap Tempo Contribuição Det Ignorado  25 a 29 Anos   Ignorado

  Clientela Quantidade Benefícios Ativos Valor Benefícios Ativos (R$)  \
0    Urbana                            2                       716,58
1    Urbana                            0                         0,00
2    Urbana                            0                         0,00

       Grupo/Principais Espécies
0  Ap Tempo Contrib Det Ignorado
1  Ap Tempo Contrib Det Ignorado
2  Ap Tempo Contrib Det Ignorado
df type: Ano                             object
Idade DIB                       object
Sexo                            object
Clientela                       object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Qte e Valor                     object
Grupo/Principais Espécies       object
dtype: object
head:     Ano    Idade DIB       Sexo Clientela Quantidade Benefícios Ativos  \
0  2002  Até 19 Anos  Masculino    Urbana                            0
1  2002  Até 19 Anos   Feminino    Urbana                            0
2  2002  Até 19 Anos   Ignorado    Urbana                            0

  Valor Benefícios Ativos (R$)                   Qte e Valor  \
0                         0,00  Quantidade Benefícios Ativos
1                         0,00  Quantidade Benefícios Ativos
2                         0,00  Quantidade Benefícios Ativos

  Grupo/Principais Espécies
0  42-Ap Tempo Contrib LOPS
1  42-Ap Tempo Contrib LOPS
2  42-Ap Tempo Contrib LOPS
df type: Ano                               object
Fx Valor Concessão (Piso Prev)    object
Clientela                         object
Sexo                              object
Qte Benefícios Concedidos         object
Grupo/Principais Espécies         object
Vlr Benefícios Concedidos (R$)    object
Vlr Benef Concedidos (Mil R$)     object
dtype: object
head:     Ano Fx Valor Concessão (Piso Prev) Clientela      Sexo  \
0  1992                    Abaixo de 1    Urbana  Ignorado
1  1992                    Abaixo de 1    Urbana  Ignorado
2  1992                      Igual a 1    Urbana  Ignorado

  Qte Benefícios Concedidos Grupo/Principais Espécies  \
0                       575      Abono de Permanência
1                      4233      Abono de Permanência
2                         0      Abono de Permanência

  Vlr Benefícios Concedidos (R$) Vlr Benef Concedidos (Mil R$)
0                           0,00                          0,00
1                           0,00                          0,00
2                           0,00                          0,00

df type: <?xml version="1.0" encoding="ISO-8859-1"?>    object
dtype: object
head:   <?xml version="1.0" encoding="ISO-8859-1"?>
0                                <viewrecord>
1                                     <nodes>
2                                      <node>
df type: Ano                                object
Grupo Idade Cessação               object
Sexo                               object
Clientela                          object
Quantidade Benefícios Cessados    float64
dtype: object
head:     Ano Grupo Idade Cessação       Sexo Clientela  \
0  1994          Até 19 Anos  Masculino    Urbana
1  1994          Até 19 Anos   Feminino    Urbana
2  1994          Até 19 Anos   Ignorado    Urbana

   Quantidade Benefícios Cessados
0                          3516.0
1                          2045.0
2                             3.0
df type: Ano                               object
Espécie de Benefício              object
Grupos de Idade Cessação          object
Sexo                              object
Clientela                         object
Quantidade Benefícios Cessados    object
Grupo/Principais Espécies         object
dtype: object
head:     Ano                Espécie de Benefício Grupos de Idade Cessação  \
0  1997  Ap Tempo Contribuição Det Ignorado             25 a 29 Anos
1  1997  Ap Tempo Contribuição Det Ignorado             25 a 29 Anos
2  1997  Ap Tempo Contribuição Det Ignorado             25 a 29 Anos

        Sexo Clientela Quantidade Benefícios Cessados  \
0  Masculino    Urbana                              0
1   Feminino    Urbana                              0
2   Ignorado    Urbana                              0

       Grupo/Principais Espécies
0  Ap Tempo Contrib Det Ignorado
1  Ap Tempo Contrib Det Ignorado
2  Ap Tempo Contrib Det Ignorado
df type: Ano                                object
Espécie                            object
Anos de Serviço do Segurado        object
Sexo                               object
Clientela                          object
Qte Benefícios Concedidos         float64
Vlr Benefícios Concedidos (R$)     object
Vlr Benef Concedidos (Mil R$)      object
dtype: object
head:     Ano                       Espécie Anos de Serviço do Segurado       Sexo  \
0  1996      42-Ap Tempo Contrib Lops                 Até 15 Anos  Masculino
1  1996      42-Ap Tempo Contrib Lops                 Até 15 Anos   Feminino
2  1996  46-Ap Tempo Contrib Especial                 Até 15 Anos  Masculino

  Clientela  Qte Benefícios Concedidos Vlr Benefícios Concedidos (R$)  \
0    Urbana                        0.0                           0,00
1    Urbana                        0.0                           0,00
2    Urbana                       48.0                       26860,22

  Vlr Benef Concedidos (Mil R$)
0                          0,00
1                          0,00
2                         26,86
df type: Ano                             object
Ano de Serviço do Segurado      object
Sexo                            object
Clientela                       object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Espécie-Resumo                  object
dtype: object
head:     Ano Ano de Serviço do Segurado       Sexo Clientela  \
0  2004                Até 15 Anos  Masculino    Urbana
1  2004                Até 15 Anos   Feminino    Urbana
2  2004                Até 15 Anos   Ignorado    Urbana

  Quantidade Benefícios Ativos Valor Benefícios Ativos (R$)  \
0                            0                         0,00
1                            0                         0,00
2                            0                         0,00

             Espécie-Resumo
0  42-Ap Tempo Contrib LOPS
1  42-Ap Tempo Contrib LOPS
2  42-Ap Tempo Contrib LOPS
df type: Ano                               object
Mês                               object
Clientela                         object
Espécie                           object
Qte Benefícios Prestação Única    object
Evolução Mensal (AnoMes)          object
dtype: object
head:     Ano        Mês Clientela                         Espécie  \
0  1994    Janeiro    Urbana  Pecúlio Especial de Aposentado
1  1994  Fevereiro    Urbana  Pecúlio Especial de Aposentado
2  1994      Março    Urbana  Pecúlio Especial de Aposentado

  Qte Benefícios Prestação Única Evolução Mensal (AnoMes)
0                           3744                   199401
1                           3857                   199402
2                           6788                   199403
df type: Ano                                object
Unidade da Federação               object
Clientela                          object
Espécie                            object
Qte Benefícios Prestação Única    float64
dtype: object
head:     Ano Unidade da Federação Clientela          Espécie  \
0  1989             Rondônia    Urbana  Auxílio Funeral
1  1989                 Acre    Urbana  Auxílio Funeral
2  1989             Amazonas    Urbana  Auxílio Funeral

   Qte Benefícios Prestação Única
0                            69.0
1                            32.0
2                           380.0
df type: Ano                               object
Espécie de TS                     object
Ano de Serviço do Segurado        object
Sexo                              object
Clientela                         object
Quantidade Benefícios Mantidos    object
Valor Benefícios Mantidos (R$)    object
Espécie-Resumo                    object
dtype: object
head:     Ano             Espécie de TS Ano de Serviço do Segurado       Sexo  \
0  1996  42-Ap Tempo Contrib Lops                Até 15 Anos  Masculino
1  1996  42-Ap Tempo Contrib Lops                Até 15 Anos   Feminino
2  1996  42-Ap Tempo Contrib Lops                Até 15 Anos  {ñ class}

  Clientela Quantidade Benefícios Mantidos Valor Benefícios Mantidos (R$)  \
0    Urbana                              0                           0,00
1    Urbana                              0                           0,00
2    Urbana                              0                           0,00

             Espécie-Resumo
0  42-Ap Tempo Contrib LOPS
1  42-Ap Tempo Contrib LOPS
2  42-Ap Tempo Contrib LOPS
df type: Ano                               object
Sexo                              object
Clientela                         object
Quantidade Benefícios Cessados    object
Tempo de Duração                  object
dtype: object
head:     Ano       Sexo Clientela Quantidade Benefícios Cessados Tempo de Duração
0  1994  Masculino    Urbana                          87144   Menos de 1 ano
1  1994   Feminino    Urbana                          58351   Menos de 1 ano
2  1994   Ignorado    Urbana                           1923   Menos de 1 ano
df type: Ano                               object
Unidade da Federação              object
Clientela                         object
Qte Benefícios Concedidos         object
Vlr Benefícios Concedidos (R$)    object
Grupo/Principais Espécies         object
dtype: object
head:     Ano Unidade da Federação Clientela Qte Benefícios Concedidos  \
0  2007             Rondônia    Urbana                      2749
1  2007                 Acre    Urbana                       745
2  2007             Amazonas    Urbana                      4912

  Vlr Benefícios Concedidos (R$) Grupo/Principais Espécies
0                     1974308,57    80-Salário-Maternidade
1                      668275,10    80-Salário-Maternidade
2                     4051302,01    80-Salário-Maternidade
df type: Ano                               object
Mês                               object
Clientela                         object
Qte Benefícios Concedidos         object
Evolução Mensal (AnoMes)          object
Vlr Benefícios Concedidos (R$)    object
Grupo/Principais Espécies         object
dtype: object
head:     Ano        Mês Clientela Qte Benefícios Concedidos  \
0  2006    Janeiro    Urbana                     33894
1  2006  Fevereiro    Urbana                     31473
2  2006      Março    Urbana                     39397

  Evolução Mensal (AnoMes) Vlr Benefícios Concedidos (R$)  \
0                   200601                    27927136,84
1                   200602                    25195664,89
2                   200603                    31455356,82

  Grupo/Principais Espécies
0    80-Salário-Maternidade
1    80-Salário-Maternidade
2    80-Salário-Maternidade

df type: Ano                                object
Espécie                            object
Capitulo da CID                    object
Sexo                               object
Clientela                          object
Quantidade Benefícios Cessados    float64
dtype: object
head:     Ano                                  Espécie  \
0  2002  Aposentadoria por Invalidez Acidentária
1  2002  Aposentadoria por Invalidez Acidentária
2  2002  Aposentadoria por Invalidez Acidentária

                                 Capitulo da CID       Sexo Clientela  \
0  Cid 9 - I - Doenças Infecciosas e Parasitária  Masculino    Urbana
1  Cid 9 - I - Doenças Infecciosas e Parasitária   Feminino    Urbana
2  Cid 9 - I - Doenças Infecciosas e Parasitária   Ignorado    Urbana

   Quantidade Benefícios Cessados
0                             0.0
1                             1.0
2                             0.0
df type: Ano                             object
Espécie                         object
Unidade da Federação            object
Clientela                       object
Quantidade Benefícios Ativos    object
Valor Benefícios Ativos (R$)    object
Qte e Valor                     object
Grupo/Principais Espécies       object
dtype: object
head:     Ano                        Espécie Unidade da Federação Clientela  \
0  2002  42-Ap Tempo Contribuição Lops              Alagoas    Urbana
1  2003  42-Ap Tempo Contribuição Lops              Alagoas    Urbana
2  2004  42-Ap Tempo Contribuição Lops              Alagoas    Urbana

  Quantidade Benefícios Ativos Valor Benefícios Ativos (R$)  \
0                        16596                   9936775,72
1                        17493                  12539306,00
2                        18166                  13779035,43

                    Qte e Valor Grupo/Principais Espécies
0  Quantidade Benefícios Ativos  42-Ap Tempo Contrib LOPS
1  Quantidade Benefícios Ativos  42-Ap Tempo Contrib LOPS
2  Quantidade Benefícios Ativos  42-Ap Tempo Contrib LOPS
df type: Ano                               object
Unidade da Federação              object
Clientela                         object
Quantidade Benefícios Cessados    object
Grupo/Principais Espécies         object
dtype: object
head:     Ano Unidade da Federação Clientela Quantidade Benefícios Cessados  \
0  1991             Rondônia     Rural                              7
1  1991             Rondônia     Rural                              0
2  1991             Rondônia     Rural                              0

                    Grupo/Principais Espécies
0                  Auxílio Doença Acidentário
1  Auxílio Acidente e Suplementar Acidentário
2                 Aposentadorias Acidentárias
df type: Ano                                object
Unidade da Federação               object
Quantidade Salário Maternidade    float64
dtype: object
head:     Ano Unidade da Federação  Quantidade Salário Maternidade
0  2004             Rondônia                          1854.0
1  2004                 Acre                           568.0
2  2004             Amazonas                          3126.0
df type: Ano                                object
Unidade da Federação               object
Motivo                             object
Clientela                          object
Quantidade Benefícios Cessados    float64
dtype: object
head:     Ano Unidade da Federação         Motivo Clientela  \
0  1994             Rondônia          Morte    Urbana
1  1994             Rondônia  Limite Médico    Urbana
2  1994             Rondônia         Fraude    Urbana

   Quantidade Benefícios Cessados
0                          1107.0
1                           489.0
2                            10.0
df type: Ano                          object
Mês                          object
Evolução Mensal (AnoMês)     object
Países Acordantes            object
Qtd Benef Conc AcInt        float64
Vlr Benef Conc AcInt         object
dtype: object
head:     Ano        Mês Evolução Mensal (AnoMês) Países Acordantes  \
0  2000    Janeiro                   200001         Argentina
1  2000  Fevereiro                   200002         Argentina
2  2000      Março                   200003         Argentina

   Qtd Benef Conc AcInt Vlr Benef Conc AcInt
0                   0.0                 0,00
1                   0.0                 0,00
2                   0.0                 0,00
df type: Ano                      object
Países Acordantes        object
Desloc. Temporário       object
Qtd. Segur. Estrang.    float64
Per. Méd Permanência    float64
dtype: object
head:     Ano Países Acordantes    Desloc. Temporário  Qtd. Segur. Estrang.  \
0  1998             Total  Deslocamento Inicial                 128.0
1  1998         Argentina  Deslocamento Inicial                  24.0
2  1998           Espanha  Deslocamento Inicial                  35.0

   Per. Méd Permanência
0                   5.0
1                   6.0
2                   5.0
df type: Ano                              object
Unidade da Federação             object
Tempo Exposição Agente Nocivo    object
Quantidade de Vínculos           object
Valor da Remuneração (R$)        object
ContribuintesGFIP                object
dtype: object
head:     Ano Unidade da Federação Tempo Exposição Agente Nocivo  \
0  2000             Rondônia                 Sem Exposição
1  2000             Rondônia                       15 Anos
2  2000             Rondônia                       20 Anos

  Quantidade de Vínculos Valor da Remuneração (R$)       ContribuintesGFIP
0                  96429               43882491,73  Quantidade de Vínculos
1                    373                 132753,36  Quantidade de Vínculos
2                    508                 152421,51  Quantidade de Vínculos
df type: Ano                               object
Unidade da Federação              object
CategoriaW                        object
Qtde Outros Contribuintes         object
Número Médio Mensal Out Contri    object
Valor da Contribuição - R$        object
Categoria até 2006                object
Vlr Sal Contribuição - R$         object
Estatística Out Contribuintes     object
Categoria                         object
dtype: object
head:     Ano Unidade da Federação  CategoriaW Qtde Outros Contribuintes  \
0  1995             Rondônia    Autônomo                      2274
1  1995             Rondônia  Empresário                      2460
2  1995             Rondônia   Doméstico                      1228

  Número Médio Mensal Out Contri Valor da Contribuição - R$  \
0                           0,00                       0,00
1                           0,00                       0,00
2                           0,00                       0,00

  Categoria até 2006 Vlr Sal Contribuição - R$ Estatística Out Contribuintes  \
0         Individual                      0,00     Qtde Outros Contribuintes
1         Individual                      0,00     Qtde Outros Contribuintes
2          Doméstico                      0,00     Qtde Outros Contribuintes

    Categoria
0  Individual
1  Individual
2   Doméstico
df type: Ano                                object
Unidade da Federação               object
Vínculo                            object
Quant Trabalhadores Empregados    float64
Vl  Rem T Empr (Piso Prev mil)     object
dtype: object
head:     Ano Unidade da Federação      Vínculo  Quant Trabalhadores Empregados  \
0  1996             Rondônia          Clt                         69485.0
1  1996             Rondônia  Estatutário                         41402.0
2  1996             Rondônia       Outros                          2230.0

  Vl  Rem T Empr (Piso Prev mil)
0                        2131,55
1                        3534,05
2                         221,53

b'Skipping line 10: expected 1 fields, saw 2\nSkipping line 19: expected 1 fields, saw 2\nSkipping line 28: expected 1 fields, saw 2\nSkipping line 37: expected 1 fields, saw 2\nSkipping line 46: expected 1 fields, saw 2\nSkipping line 55: expected 1 fields, saw 2\nSkipping line 64: expected 1 fields, saw 2\nSkipping line 73: expected 1 fields, saw 2\nSkipping line 82: expected 1 fields, saw 2\nSkipping line 91: expected 1 fields, saw 2\nSkipping line 100: expected 1 fields, saw 2\nSkipping line 109: expected 1 fields, saw 2\nSkipping line 118: expected 1 fields, saw 2\nSkipping line 127: expected 1 fields, saw 2\nSkipping line 136: expected 1 fields, saw 2\nSkipping line 145: expected 1 fields, saw 2\nSkipping line 154: expected 1 fields, saw 2\nSkipping line 163: expected 1 fields, saw 2\nSkipping line 172: expected 1 fields, saw 2\nSkipping line 181: expected 1 fields, saw 2\nSkipping line 190: expected 1 fields, saw 2\nSkipping line 199: expected 1 fields, saw 2\nSkipping line 208: expected 1 fields, saw 2\nSkipping line 217: expected 1 fields, saw 2\nSkipping line 226: expected 1 fields, saw 2\nSkipping line 235: expected 1 fields, saw 2\nSkipping line 244: expected 1 fields, saw 2\nSkipping line 253: expected 1 fields, saw 2\nSkipping line 262: expected 1 fields, saw 2\nSkipping line 271: expected 1 fields, saw 2\nSkipping line 280: expected 1 fields, saw 2\nSkipping line 289: expected 1 fields, saw 2\nSkipping line 298: expected 1 fields, saw 2\nSkipping line 307: expected 1 fields, saw 2\nSkipping line 316: expected 1 fields, saw 2\nSkipping line 325: expected 1 fields, saw 2\nSkipping line 334: expected 1 fields, saw 2\nSkipping line 343: expected 1 fields, saw 2\nSkipping line 352: expected 1 fields, saw 2\nSkipping line 361: expected 1 fields, saw 2\nSkipping line 370: expected 1 fields, saw 2\nSkipping line 379: expected 1 fields, saw 2\nSkipping line 388: expected 1 fields, saw 2\nSkipping line 397: expected 1 fields, saw 2\nSkipping line 406: expected 1 fields, saw 2\nSkipping line 415: expected 1 fields, saw 2\nSkipping line 424: expected 1 fields, saw 2\nSkipping line 433: expected 1 fields, saw 2\nSkipping line 442: expected 1 fields, saw 2\nSkipping line 451: expected 1 fields, saw 2\nSkipping line 460: expected 1 fields, saw 2\nSkipping line 469: expected 1 fields, saw 2\nSkipping line 478: expected 1 fields, saw 2\nSkipping line 487: expected 1 fields, saw 2\nSkipping line 496: expected 1 fields, saw 2\nSkipping line 505: expected 1 fields, saw 2\nSkipping line 514: expected 1 fields, saw 2\nSkipping line 523: expected 1 fields, saw 2\nSkipping line 532: expected 1 fields, saw 2\nSkipping line 541: expected 1 fields, saw 2\nSkipping line 550: expected 1 fields, saw 2\nSkipping line 559: expected 1 fields, saw 2\nSkipping line 568: expected 1 fields, saw 2\nSkipping line 577: expected 1 fields, saw 2\nSkipping line 586: expected 1 fields, saw 2\nSkipping line 595: expected 1 fields, saw 2\nSkipping line 604: expected 1 fields, saw 2\nSkipping line 613: expected 1 fields, saw 2\nSkipping line 622: expected 1 fields, saw 2\nSkipping line 631: expected 1 fields, saw 2\nSkipping line 640: expected 1 fields, saw 2\nSkipping line 649: expected 1 fields, saw 2\nSkipping line 658: expected 1 fields, saw 2\nSkipping line 667: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 2\nSkipping line 694: expected 1 fields, saw 2\nSkipping line 703: expected 1 fields, saw 2\nSkipping line 712: expected 1 fields, saw 2\nSkipping line 721: expected 1 fields, saw 2\nSkipping line 730: expected 1 fields, saw 2\nSkipping line 739: expected 1 fields, saw 2\nSkipping line 748: expected 1 fields, saw 2\nSkipping line 757: expected 1 fields, saw 2\nSkipping line 766: expected 1 fields, saw 2\nSkipping line 775: expected 1 fields, saw 2\nSkipping line 784: expected 1 fields, saw 2\nSkipping line 793: expected 1 fields, saw 2\nSkipping line 802: expected 1 fields, saw 2\nSkipping line 811: expected 1 fields, saw 2\nSkipping line 820: expected 1 fields, saw 2\nSkipping line 829: expected 1 fields, saw 2\nSkipping line 838: expected 1 fields, saw 2\nSkipping line 847: expected 1 fields, saw 2\nSkipping line 856: expected 1 fields, saw 2\nSkipping line 865: expected 1 fields, saw 2\nSkipping line 874: expected 1 fields, saw 2\nSkipping line 883: expected 1 fields, saw 2\nSkipping line 892: expected 1 fields, saw 2\nSkipping line 901: expected 1 fields, saw 2\nSkipping line 910: expected 1 fields, saw 2\nSkipping line 919: expected 1 fields, saw 2\nSkipping line 928: expected 1 fields, saw 2\nSkipping line 937: expected 1 fields, saw 2\nSkipping line 946: expected 1 fields, saw 2\nSkipping line 955: expected 1 fields, saw 2\nSkipping line 964: expected 1 fields, saw 2\nSkipping line 973: expected 1 fields, saw 2\nSkipping line 982: expected 1 fields, saw 2\nSkipping line 991: expected 1 fields, saw 2\nSkipping line 1000: expected 1 fields, saw 2\nSkipping line 1009: expected 1 fields, saw 2\nSkipping line 1018: expected 1 fields, saw 2\nSkipping line 1027: expected 1 fields, saw 2\nSkipping line 1036: expected 1 fields, saw 2\nSkipping line 1045: expected 1 fields, saw 2\nSkipping line 1054: expected 1 fields, saw 2\nSkipping line 1063: expected 1 fields, saw 2\nSkipping line 1072: expected 1 fields, saw 2\nSkipping line 1081: expected 1 fields, saw 2\nSkipping line 1090: expected 1 fields, saw 2\nSkipping line 1099: expected 1 fields, saw 2\nSkipping line 1108: expected 1 fields, saw 2\nSkipping line 1117: expected 1 fields, saw 2\nSkipping line 1126: expected 1 fields, saw 2\nSkipping line 1135: expected 1 fields, saw 2\nSkipping line 1144: expected 1 fields, saw 2\nSkipping line 1153: expected 1 fields, saw 2\nSkipping line 1162: expected 1 fields, saw 2\nSkipping line 1171: expected 1 fields, saw 2\nSkipping line 1180: expected 1 fields, saw 2\nSkipping line 1189: expected 1 fields, saw 2\nSkipping line 1198: expected 1 fields, saw 2\nSkipping line 1207: expected 1 fields, saw 2\nSkipping line 1216: expected 1 fields, saw 2\nSkipping line 1225: expected 1 fields, saw 2\nSkipping line 1234: expected 1 fields, saw 2\nSkipping line 1243: expected 1 fields, saw 2\nSkipping line 1252: expected 1 fields, saw 2\nSkipping line 1261: expected 1 fields, saw 2\nSkipping line 1270: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1288: expected 1 fields, saw 2\nSkipping line 1297: expected 1 fields, saw 2\nSkipping line 1306: expected 1 fields, saw 2\nSkipping line 1315: expected 1 fields, saw 2\nSkipping line 1324: expected 1 fields, saw 2\nSkipping line 1333: expected 1 fields, saw 2\nSkipping line 1342: expected 1 fields, saw 2\nSkipping line 1351: expected 1 fields, saw 2\nSkipping line 1360: expected 1 fields, saw 2\nSkipping line 1369: expected 1 fields, saw 2\nSkipping line 1378: expected 1 fields, saw 2\nSkipping line 1387: expected 1 fields, saw 2\nSkipping line 1396: expected 1 fields, saw 2\nSkipping line 1405: expected 1 fields, saw 2\nSkipping line 1414: expected 1 fields, saw 2\nSkipping line 1423: expected 1 fields, saw 2\nSkipping line 1432: expected 1 fields, saw 2\nSkipping line 1441: expected 1 fields, saw 2\nSkipping line 1450: expected 1 fields, saw 2\nSkipping line 1459: expected 1 fields, saw 2\nSkipping line 1468: expected 1 fields, saw 2\nSkipping line 1477: expected 1 fields, saw 2\nSkipping line 1486: expected 1 fields, saw 2\nSkipping line 1495: expected 1 fields, saw 2\nSkipping line 1504: expected 1 fields, saw 2\nSkipping line 1513: expected 1 fields, saw 2\nSkipping line 1522: expected 1 fields, saw 2\nSkipping line 1531: expected 1 fields, saw 2\nSkipping line 1540: expected 1 fields, saw 2\nSkipping line 1549: expected 1 fields, saw 2\nSkipping line 1558: expected 1 fields, saw 2\nSkipping line 1567: expected 1 fields, saw 2\nSkipping line 1576: expected 1 fields, saw 2\nSkipping line 1585: expected 1 fields, saw 2\nSkipping line 1594: expected 1 fields, saw 2\nSkipping line 1603: expected 1 fields, saw 2\nSkipping line 1612: expected 1 fields, saw 2\nSkipping line 1621: expected 1 fields, saw 2\nSkipping line 1630: expected 1 fields, saw 2\nSkipping line 1639: expected 1 fields, saw 2\nSkipping line 1648: expected 1 fields, saw 2\nSkipping line 1657: expected 1 fields, saw 2\nSkipping line 1666: expected 1 fields, saw 2\nSkipping line 1675: expected 1 fields, saw 2\nSkipping line 1684: expected 1 fields, saw 2\nSkipping line 1693: expected 1 fields, saw 2\nSkipping line 1702: expected 1 fields, saw 2\nSkipping line 1711: expected 1 fields, saw 2\nSkipping line 1720: expected 1 fields, saw 2\nSkipping line 1729: expected 1 fields, saw 2\nSkipping line 1738: expected 1 fields, saw 2\nSkipping line 1747: expected 1 fields, saw 2\nSkipping line 1756: expected 1 fields, saw 2\nSkipping line 1765: expected 1 fields, saw 2\nSkipping line 1774: expected 1 fields, saw 2\nSkipping line 1783: expected 1 fields, saw 2\nSkipping line 1792: expected 1 fields, saw 2\nSkipping line 1801: expected 1 fields, saw 2\nSkipping line 1810: expected 1 fields, saw 2\nSkipping line 1819: expected 1 fields, saw 2\nSkipping line 1828: expected 1 fields, saw 2\nSkipping line 1837: expected 1 fields, saw 2\nSkipping line 1846: expected 1 fields, saw 2\nSkipping line 1855: expected 1 fields, saw 2\nSkipping line 1864: expected 1 fields, saw 2\nSkipping line 1873: expected 1 fields, saw 2\nSkipping line 1882: expected 1 fields, saw 2\nSkipping line 1891: expected 1 fields, saw 2\nSkipping line 1900: expected 1 fields, saw 2\nSkipping line 1909: expected 1 fields, saw 2\nSkipping line 1918: expected 1 fields, saw 2\nSkipping line 1927: expected 1 fields, saw 2\nSkipping line 1936: expected 1 fields, saw 2\nSkipping line 1945: expected 1 fields, saw 2\nSkipping line 1954: expected 1 fields, saw 2\nSkipping line 1963: expected 1 fields, saw 2\nSkipping line 1972: expected 1 fields, saw 2\nSkipping line 1981: expected 1 fields, saw 2\nSkipping line 1990: expected 1 fields, saw 2\nSkipping line 1999: expected 1 fields, saw 2\nSkipping line 2008: expected 1 fields, saw 2\nSkipping line 2017: expected 1 fields, saw 2\nSkipping line 2026: expected 1 fields, saw 2\nSkipping line 2035: expected 1 fields, saw 2\nSkipping line 2044: expected 1 fields, saw 2\nSkipping line 2053: expected 1 fields, saw 2\nSkipping line 2062: expected 1 fields, saw 2\nSkipping line 2071: expected 1 fields, saw 2\nSkipping line 2080: expected 1 fields, saw 2\nSkipping line 2089: expected 1 fields, saw 2\nSkipping line 2098: expected 1 fields, saw 2\nSkipping line 2107: expected 1 fields, saw 2\nSkipping line 2116: expected 1 fields, saw 2\nSkipping line 2125: expected 1 fields, saw 2\nSkipping line 2134: expected 1 fields, saw 2\nSkipping line 2143: expected 1 fields, saw 2\nSkipping line 2152: expected 1 fields, saw 2\nSkipping line 2161: expected 1 fields, saw 2\nSkipping line 2170: expected 1 fields, saw 2\nSkipping line 2179: expected 1 fields, saw 2\nSkipping line 2188: expected 1 fields, saw 2\nSkipping line 2197: expected 1 fields, saw 2\nSkipping line 2206: expected 1 fields, saw 2\nSkipping line 2215: expected 1 fields, saw 2\nSkipping line 2224: expected 1 fields, saw 2\nSkipping line 2233: expected 1 fields, saw 2\nSkipping line 2242: expected 1 fields, saw 2\nSkipping line 2251: expected 1 fields, saw 2\nSkipping line 2260: expected 1 fields, saw 2\nSkipping line 2269: expected 1 fields, saw 2\nSkipping line 2278: expected 1 fields, saw 2\nSkipping line 2287: expected 1 fields, saw 2\nSkipping line 2296: expected 1 fields, saw 2\nSkipping line 2305: expected 1 fields, saw 2\nSkipping line 2314: expected 1 fields, saw 2\nSkipping line 2323: expected 1 fields, saw 2\nSkipping line 2332: expected 1 fields, saw 2\nSkipping line 2341: expected 1 fields, saw 2\nSkipping line 2350: expected 1 fields, saw 2\nSkipping line 2359: expected 1 fields, saw 2\nSkipping line 2368: expected 1 fields, saw 2\nSkipping line 2377: expected 1 fields, saw 2\nSkipping line 2386: expected 1 fields, saw 2\nSkipping line 2395: expected 1 fields, saw 2\nSkipping line 2404: expected 1 fields, saw 2\nSkipping line 2413: expected 1 fields, saw 2\nSkipping line 2422: expected 1 fields, saw 2\nSkipping line 2431: expected 1 fields, saw 2\nSkipping line 2440: expected 1 fields, saw 2\nSkipping line 2449: expected 1 fields, saw 2\nSkipping line 2458: expected 1 fields, saw 2\nSkipping line 2467: expected 1 fields, saw 2\nSkipping line 2476: expected 1 fields, saw 2\nSkipping line 2485: expected 1 fields, saw 2\nSkipping line 2494: expected 1 fields, saw 2\nSkipping line 2503: expected 1 fields, saw 2\nSkipping line 2512: expected 1 fields, saw 2\nSkipping line 2521: expected 1 fields, saw 2\nSkipping line 2530: expected 1 fields, saw 2\nSkipping line 2539: expected 1 fields, saw 2\nSkipping line 2548: expected 1 fields, saw 2\nSkipping line 2557: expected 1 fields, saw 2\nSkipping line 2566: expected 1 fields, saw 2\nSkipping line 2575: expected 1 fields, saw 2\nSkipping line 2584: expected 1 fields, saw 2\nSkipping line 2593: expected 1 fields, saw 2\nSkipping line 2602: expected 1 fields, saw 2\nSkipping line 2611: expected 1 fields, saw 2\nSkipping line 2620: expected 1 fields, saw 2\nSkipping line 2629: expected 1 fields, saw 2\nSkipping line 2638: expected 1 fields, saw 2\nSkipping line 2647: expected 1 fields, saw 2\nSkipping line 2656: expected 1 fields, saw 2\nSkipping line 2665: expected 1 fields, saw 2\nSkipping line 2674: expected 1 fields, saw 2\nSkipping line 2683: expected 1 fields, saw 2\nSkipping line 2692: expected 1 fields, saw 2\nSkipping line 2701: expected 1 fields, saw 2\nSkipping line 2710: expected 1 fields, saw 2\nSkipping line 2719: expected 1 fields, saw 2\nSkipping line 2728: expected 1 fields, saw 2\nSkipping line 2737: expected 1 fields, saw 2\nSkipping line 2746: expected 1 fields, saw 2\nSkipping line 2755: expected 1 fields, saw 2\nSkipping line 2764: expected 1 fields, saw 2\nSkipping line 2773: expected 1 fields, saw 2\nSkipping line 2782: expected 1 fields, saw 2\nSkipping line 2791: expected 1 fields, saw 2\nSkipping line 2800: expected 1 fields, saw 2\nSkipping line 2809: expected 1 fields, saw 2\nSkipping line 2818: expected 1 fields, saw 2\nSkipping line 2827: expected 1 fields, saw 2\nSkipping line 2836: expected 1 fields, saw 2\nSkipping line 2845: expected 1 fields, saw 2\nSkipping line 2854: expected 1 fields, saw 2\nSkipping line 2863: expected 1 fields, saw 2\nSkipping line 2872: expected 1 fields, saw 2\nSkipping line 2881: expected 1 fields, saw 2\nSkipping line 2890: expected 1 fields, saw 2\nSkipping line 2899: expected 1 fields, saw 2\nSkipping line 2908: expected 1 fields, saw 2\nSkipping line 2917: expected 1 fields, saw 2\nSkipping line 2926: expected 1 fields, saw 2\nSkipping line 2935: expected 1 fields, saw 2\nSkipping line 2944: expected 1 fields, saw 2\nSkipping line 2953: expected 1 fields, saw 2\nSkipping line 2962: expected 1 fields, saw 2\nSkipping line 2971: expected 1 fields, saw 2\nSkipping line 2980: expected 1 fields, saw 2\nSkipping line 2989: expected 1 fields, saw 2\nSkipping line 2998: expected 1 fields, saw 2\nSkipping line 3007: expected 1 fields, saw 2\nSkipping line 3016: expected 1 fields, saw 2\nSkipping line 3025: expected 1 fields, saw 2\nSkipping line 3034: expected 1 fields, saw 2\nSkipping line 3043: expected 1 fields, saw 2\nSkipping line 3052: expected 1 fields, saw 2\nSkipping line 3061: expected 1 fields, saw 2\nSkipping line 3070: expected 1 fields, saw 2\nSkipping line 3079: expected 1 fields, saw 2\nSkipping line 3088: expected 1 fields, saw 2\nSkipping line 3097: expected 1 fields, saw 2\nSkipping line 3106: expected 1 fields, saw 2\nSkipping line 3115: expected 1 fields, saw 2\nSkipping line 3124: expected 1 fields, saw 2\nSkipping line 3133: expected 1 fields, saw 2\nSkipping line 3142: expected 1 fields, saw 2\nSkipping line 3151: expected 1 fields, saw 2\nSkipping line 3160: expected 1 fields, saw 2\nSkipping line 3169: expected 1 fields, saw 2\nSkipping line 3178: expected 1 fields, saw 2\nSkipping line 3187: expected 1 fields, saw 2\nSkipping line 3196: expected 1 fields, saw 2\nSkipping line 3205: expected 1 fields, saw 2\nSkipping line 3214: expected 1 fields, saw 2\nSkipping line 3223: expected 1 fields, saw 2\nSkipping line 3232: expected 1 fields, saw 2\nSkipping line 3241: expected 1 fields, saw 2\nSkipping line 3250: expected 1 fields, saw 2\nSkipping line 3259: expected 1 fields, saw 2\nSkipping line 3268: expected 1 fields, saw 2\nSkipping line 3277: expected 1 fields, saw 2\nSkipping line 3286: expected 1 fields, saw 2\nSkipping line 3295: expected 1 fields, saw 2\nSkipping line 3304: expected 1 fields, saw 2\nSkipping line 3313: expected 1 fields, saw 2\nSkipping line 3322: expected 1 fields, saw 2\nSkipping line 3331: expected 1 fields, saw 2\nSkipping line 3340: expected 1 fields, saw 2\nSkipping line 3349: expected 1 fields, saw 2\nSkipping line 3358: expected 1 fields, saw 2\nSkipping line 3367: expected 1 fields, saw 2\nSkipping line 3376: expected 1 fields, saw 2\nSkipping line 3385: expected 1 fields, saw 2\nSkipping line 3394: expected 1 fields, saw 2\nSkipping line 3403: expected 1 fields, saw 2\nSkipping line 3412: expected 1 fields, saw 2\nSkipping line 3421: expected 1 fields, saw 2\nSkipping line 3430: expected 1 fields, saw 2\nSkipping line 3439: expected 1 fields, saw 2\nSkipping line 3448: expected 1 fields, saw 2\nSkipping line 3457: expected 1 fields, saw 2\nSkipping line 3466: expected 1 fields, saw 2\nSkipping line 3475: expected 1 fields, saw 2\nSkipping line 3484: expected 1 fields, saw 2\nSkipping line 3493: expected 1 fields, saw 2\nSkipping line 3502: expected 1 fields, saw 2\nSkipping line 3511: expected 1 fields, saw 2\nSkipping line 3520: expected 1 fields, saw 2\nSkipping line 3529: expected 1 fields, saw 2\nSkipping line 3538: expected 1 fields, saw 2\nSkipping line 3547: expected 1 fields, saw 2\nSkipping line 3556: expected 1 fields, saw 2\nSkipping line 3565: expected 1 fields, saw 2\nSkipping line 3574: expected 1 fields, saw 2\nSkipping line 3583: expected 1 fields, saw 2\nSkipping line 3592: expected 1 fields, saw 2\nSkipping line 3601: expected 1 fields, saw 2\nSkipping line 3610: expected 1 fields, saw 2\nSkipping line 3619: expected 1 fields, saw 2\nSkipping line 3628: expected 1 fields, saw 2\nSkipping line 3637: expected 1 fields, saw 2\nSkipping line 3646: expected 1 fields, saw 2\nSkipping line 3655: expected 1 fields, saw 2\nSkipping line 3664: expected 1 fields, saw 2\nSkipping line 3673: expected 1 fields, saw 2\nSkipping line 3682: expected 1 fields, saw 2\nSkipping line 3691: expected 1 fields, saw 2\nSkipping line 3700: expected 1 fields, saw 2\nSkipping line 3709: expected 1 fields, saw 2\nSkipping line 3718: expected 1 fields, saw 2\nSkipping line 3727: expected 1 fields, saw 2\nSkipping line 3736: expected 1 fields, saw 2\nSkipping line 3745: expected 1 fields, saw 2\nSkipping line 3754: expected 1 fields, saw 2\nSkipping line 3763: expected 1 fields, saw 2\nSkipping line 3772: expected 1 fields, saw 2\nSkipping line 3781: expected 1 fields, saw 2\nSkipping line 3790: expected 1 fields, saw 2\nSkipping line 3799: expected 1 fields, saw 2\nSkipping line 3808: expected 1 fields, saw 2\nSkipping line 3817: expected 1 fields, saw 2\nSkipping line 3826: expected 1 fields, saw 2\nSkipping line 3835: expected 1 fields, saw 2\nSkipping line 3844: expected 1 fields, saw 2\nSkipping line 3853: expected 1 fields, saw 2\nSkipping line 3862: expected 1 fields, saw 2\nSkipping line 3871: expected 1 fields, saw 2\nSkipping line 3880: expected 1 fields, saw 2\nSkipping line 3889: expected 1 fields, saw 2\nSkipping line 3898: expected 1 fields, saw 2\nSkipping line 3907: expected 1 fields, saw 2\nSkipping line 3916: expected 1 fields, saw 2\nSkipping line 3925: expected 1 fields, saw 2\nSkipping line 3934: expected 1 fields, saw 2\nSkipping line 39

df type: <?xml version="1.0" encoding="ISO-8859-1"?>    object
dtype: object
head:   <?xml version="1.0" encoding="ISO-8859-1"?>
0                                <viewrecord>
1                                     <nodes>
2                                      <node>
df type: Ano                                object
Faixas de Valor (Piso Prev)        object
Qtde Contribuintes Empregados      object
Vl Remuneração (R$)                object
Número Médio Mensal Cont Emprg    float64
Estatísticas                       object
Sexo                               object
dtype: object
head:     Ano Faixas de Valor (Piso Prev) Qtde Contribuintes Empregados  \
0  1996                       Até 1                       1277035
1  1996                       Até 1                        889253
2  1996                       Até 1                          7514

  Vl Remuneração (R$)  Número Médio Mensal Cont Emprg  \
0        752506632,00                        645876.0
1        554474592,00                        520370.0
2          5012928,00                          4178.0

                    Estatísticas       Sexo
0  Qtde Contribuintes Empregados  Masculino
1  Qtde Contribuintes Empregados   Feminino
2  Qtde Contribuintes Empregados   Ignorado
df type: Ano                               object
Grupos de Idade                   object
Qtde Contribuintes Empregados     object
Vl Remuneração (R$)               object
Número Médio Mensal Cont Emprg    object
Estatísticas                      object
Faixa de Idade                    object
Sexo                              object
dtype: object
head:     Ano Grupos de Idade Qtde Contribuintes Empregados Vl Remuneração (R$)  \
0  1996     Até 14 Anos                         22262         13768060,32
1  1996     Até 14 Anos                          7901          4902385,68
2  1996     Até 14 Anos                             3            11305,44

  Número Médio Mensal Cont Emprg                   Estatísticas  \
0                           8517  Qtde Contribuintes Empregados
1                           2794  Qtde Contribuintes Empregados
2                              3  Qtde Contribuintes Empregados

  Faixa de Idade       Sexo
0    Até 19 anos  Masculino
1    Até 19 anos   Feminino
2    Até 19 anos   Ignorado
df type: Ano                                object
SAEaux                             object
Qtde Contribuintes Empregados      object
Quantidade de Vínculos            float64
Número Médio de Vínculos           object
Vl Remuneração (R$)                object
Número Médio Mensal Cont Emprg    float64
Estatísticas                       object
dtype: object
head:     Ano             SAEaux Qtde Contribuintes Empregados  \
0  1996        Agricultura                       1218100
1  1997        Agricultura                       1240422
2  1996  Extrativa Mineral                        110650

   Quantidade de Vínculos Número Médio de Vínculos Vl Remuneração (R$)  \
0               1401037.0                     0,00       2963640942,59
1               1457439.0                     0,00       3010034569,70
2                123588.0                     0,00        740728471,67

   Número Médio Mensal Cont Emprg                   Estatísticas
0                        860163.0  Qtde Contribuintes Empregados
1                        883362.0  Qtde Contribuintes Empregados
2                         88307.0  Qtde Contribuintes Empregados
df type: Ano                                object
Unidade da Federação               object
Qtde Contribuintes Empregados      object
Quantidade de Vínculos            float64
Vl Remuneração (R$)                object
Número Médio Mensal Cont Emprg    float64
Estatísticas Cont Empregado        object
dtype: object
head:     Ano Unidade da Federação Qtde Contribuintes Empregados  \
0  1996             Rondônia                         70308
1  1996                 Acre                         27384
2  1996             Amazonas                        154924

   Quantidade de Vínculos Vl Remuneração (R$)  Número Médio Mensal Cont Emprg  \
0                 76866.0        233763021,25                         50075.0
1                 30142.0        105674804,27                         21291.0
2                176036.0        809650218,26                        111825.0

     Estatísticas Cont Empregado
0  Qtde Contribuintes Empregados
1  Qtde Contribuintes Empregados
2  Qtde Contribuintes Empregados
df type: Ano                             object
Escala  de Salario Base         object
Qtde Contribuinte Individual    object
Valor Contr Individual          object
Categoria                       object
dtype: object
head:     Ano Escala  de Salario Base Qtde Contribuinte Individual  \
0  1995                Classe 1                      1847452
1  1995                Classe 1                      1087812
2  1995                Classe 1                            0

  Valor Contr Individual   Categoria
0                   0,00  Individual
1                   0,00  Individual
2                   0,00   Doméstico
df type: Ano                              object
Número de Contribuições          object
Qtde Contribuintes Empregados    object
Vl Remuneração (R$)              object
Sexo                             object
dtype: object
head:     Ano Número de Contribuições Qtde Contribuintes Empregados  \
0  1996         01 Contribuição                        553504
1  1996         01 Contribuição                        299593
2  1996         01 Contribuição                          2522

  Vl Remuneração (R$)       Sexo
0        159927396,74  Masculino
1         63732914,65   Feminino
2           454894,92   Ignorado
df type: Ano                           object
Mês                           object
Evolução Mensal (AnoMes)      object
Unidade da Federação          object
Valor Contr Terceiros (R$)    object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMes) Unidade da Federação  \
0  1994  Janeiro                   199401             Rondônia
1  1994  Janeiro                   199401                 Acre
2  1994  Janeiro                   199401             Amazonas

  Valor Contr Terceiros (R$)
0                   31704,55
1                    4906,33
2                  105348,95
df type: Ano                               object
Mês                               object
Evolução Mensal (AnoMês)          object
Total Recolhimentos (R$)          object
Valor Deduções (R$)               object
Valor Liquido FPAS (R$)           object
Valor Recolh Acres Legais (R$)    object
Valor Recolh Empresa (R$)         object
Valor Recolh Prod Rural (R$)      object
Valor Recolh Segurado (R$)        object
Recolhimento FPAS (R$)            object
dtype: object
head:     Ano        Mês Evolução Mensal (AnoMês) Total Recolhimentos (R$)  \
0  1990    Janeiro                   199001                 10629,42
1  1990  Fevereiro                   199002                  9784,49
2  1990      Março                   199003                 19756,28

  Valor Deduções (R$) Valor Liquido FPAS (R$) Valor Recolh Acres Legais (R$)  \
0              157,50                10751,73                         279,81
1              170,48                 9795,52                         181,51
2              339,47                19883,49                         466,68

  Valor Recolh Empresa (R$) Valor Recolh Prod Rural (R$)  \
0                   8202,88                        75,56
1                   7571,29                        50,88
2                  15195,71                       117,82

  Valor Recolh Segurado (R$)   Recolhimento FPAS (R$)
0                    2350,97  Valor Liquido FPAS (R$)
1                    2162,31  Valor Liquido FPAS (R$)
2                    4442,75  Valor Liquido FPAS (R$)
df type: Setor Atividade Econômica         object
Ano                               object
Total Recolhimento (R$)           object
Valor Recolh Empresa (R$)         object
Valor Recolh Segurado (R$)        object
Valor Outras Entidades (R$)       object
Valor Deduções (R$)               object
Valor Recolh Acres Legais (R$)    object
Valor INSS                        object
Recolhimento GRPS                 object
Recolhimento GPS                  object
dtype: object
head:   Setor Atividade Econômica   Ano Total Recolhimento (R$)  \
0               Agricultura  1997            852399283,73
1         Extrativa Mineral  1997            440664603,58
2                Construção  1997           2008363977,25

  Valor Recolh Empresa (R$) Valor Recolh Segurado (R$)  \
0              461579771,76               333363299,54
1              327312978,87                89955593,01
2             1279443003,41               478057147,06

  Valor Outras Entidades (R$) Valor Deduções (R$)  \
0                108001593,95         60116245,07
1                 25941804,32          4761678,01
2                244539648,84         33715573,09

  Valor Recolh Acres Legais (R$)     Valor INSS        Recolhimento GRPS  \
0                     9570863,55   734826826,23  Total Recolhimento (R$)
1                     2215905,39   412506893,87  Total Recolhimento (R$)
2                    40039751,03  1723784577,38  Total Recolhimento (R$)

          Recolhimento GPS
0  Total Recolhimento (R$)
1  Total Recolhimento (R$)
2  Total Recolhimento (R$)

df type: Unidade da Federação            object
Ano                             object
Classe At. Econômica            object
Valor Contribuição Efet (R$)    object
dtype: object
head:   Unidade da Federação   Ano Classe At. Econômica Valor Contribuição Efet (R$)
0             Rondônia  2000          Agricultura                   2276020,00
1             Rondônia  2000            Indústria                  36571686,00
2             Rondônia  2000             Comércio                  24876605,00
df type: Ano                           object
Mês                           object
Evolução Mensal (AnoMes)      object
Terceiros                     object
Valor Contr Terceiros (R$)    object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMes)         Terceiros  \
0  1994  Janeiro                   199401  Salário-Educação
1  1994  Janeiro                   199401             Incra
2  1994  Janeiro                   199401    Incra Especial

  Valor Contr Terceiros (R$)
0                 5416508,85
1                 1019082,37
2                  104836,60
df type: Ano                           object
Mês                           object
Evolução Mensal (AnoMês)      object
Valor Contr Terceiros (R$)    object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMês) Valor Contr Terceiros (R$)
0  1994  Janeiro                   199401                16113068,16
1  1995  Janeiro                   199501               183687736,04
2  1996  Janeiro                   199601               252436196,05
df type: Ano                             object
Mês                             object
Evolução Mensal (AnoMes)        object
Valor Arrecadado (R$)           object
Recol. Empresas ao INSS (R$)    object
Arrecadação e Recolhimento      object
dtype: object
head:     Ano        Mês Evolução Mensal (AnoMes) Valor Arrecadado (R$)  \
0  1980    Janeiro                   198001                  0,01
1  1980  Fevereiro                   198002                  0,01
2  1980      Março                   198003                  0,02

  Recol. Empresas ao INSS (R$) Arrecadação e Recolhimento
0                         0,00      Valor Arrecadado (R$)
1                         0,00      Valor Arrecadado (R$)
2                         0,00      Valor Arrecadado (R$)
df type: Unidade da Federação            object
Ano                             object
Fonte de Receita Arrecadação    object
Vlr Arrecadado                  object
dtype: object
head:   Unidade da Federação   Ano      Fonte de Receita Arrecadação Vlr Arrecadado
0             Rondônia  2000  Empresas e Entidades Equiparadas   102637556,00
1             Rondônia  2000           Contribuinte Individual     6180014,00
2             Rondônia  2000             Débito Administrativo     4708330,00
df type: Ano                               object
Mês                               object
Unidade da Federação              object
Total Recolhimentos (R$)          object
Valor Deduções (R$)               object
Valor Liquido FPAS (R$)           object
Valor Recolh Acres Legais (R$)    object
Valor Recolh Empresa (R$)         object
Valor Recolh Prod Rural (R$)      object
Valor Recolh Segurado (R$)        object
Recolhimento FPAS (R$)            object
dtype: object
head:     Ano        Mês Unidade da Federação Total Recolhimentos (R$)  \
0  1990    Janeiro             Rondônia                    27,98
1  1990  Fevereiro             Rondônia                    32,75
2  1990      Março             Rondônia                    30,21

  Valor Deduções (R$) Valor Liquido FPAS (R$) Valor Recolh Acres Legais (R$)  \
0                0,57                   27,96                           0,55
1                0,71                   32,33                           0,29
2                0,73                   30,53                           1,04

  Valor Recolh Empresa (R$) Valor Recolh Prod Rural (R$)  \
0                     19,84                         0,11
1                     22,85                         0,17
2                     22,94                         0,15

  Valor Recolh Segurado (R$)   Recolhimento FPAS (R$)
0                       8,04  Valor Liquido FPAS (R$)
1                       9,74  Valor Liquido FPAS (R$)
2                       7,12  Valor Liquido FPAS (R$)
df type: Ano                             object
Unidade da Federação            object
Rubrica GPS                     object
Valor Contribuição Efet (R$)    object
dtype: object
head:     Ano Unidade da Federação        Rubrica GPS Valor Contribuição Efet (R$)
0  1997             Rondônia               INSS                  88530658,00
1  1997             Rondônia   Outras Entidades                   7251204,00
2  1997             Rondônia  Acréscimos Legais                   1519467,00
df type: Ano                               object
Mês                               object
Evolução Mensal (AnoMes)          object
FPAS                              object
Total Recolhimentos (R$)          object
Valor Deduções (R$)               object
Valor Liquido FPAS (R$)           object
Valor Recolh Acres Legais (R$)    object
Valor Recolh Empresa (R$)         object
Valor Recolh Prod Rural (R$)      object
Valor Recolh Segurado (R$)        object
Recolhimento FPAS (R$)            object
dtype: object
head:     Ano                    Mês Evolução Mensal (AnoMes) FPAS  \
0  1996  Detalhamento Ignorado                   199699  507
1  1996  Detalhamento Ignorado                   199699  515
2  1996  Detalhamento Ignorado                   199699  523

  Total Recolhimentos (R$) Valor Deduções (R$) Valor Liquido FPAS (R$)  \
0           15758603773,00        244575943,00          15664132729,00
1            9288563831,00        263208933,00           9143580521,00
2             155381948,00          3411833,00            154564245,00

  Valor Recolh Acres Legais (R$) Valor Recolh Empresa (R$)  \
0                   150104899,00            11807645624,00
1                   118225623,00             6822428531,00
2                     2594130,00              110045835,00

  Valor Recolh Prod Rural (R$) Valor Recolh Segurado (R$)  \
0                         0,00              3950958149,00
1                         0,00              2466135300,00
2                         0,00                45336113,00

    Recolhimento FPAS (R$)
0  Valor Liquido FPAS (R$)
1  Valor Liquido FPAS (R$)
2  Valor Liquido FPAS (R$)
df type: <html>    object
dtype: object
head:                                              <html>
0  <head><title>504 Gateway Time-out</title></head>
1                            <body bgcolor="white">
2    <center><h1>504 Gateway Time-out</h1></center>
df type: Ano                           object
Numero de Contribuições       object
Qtde Outros Contribuintes     object
Valor da Contribuição - R$    object
Categoria até 2006            object
Categoria depois de 2007      object
dtype: object
head:     Ano Numero de Contribuições Qtde Outros Contribuintes  \
0  1997                       1                    182336
1  1997                       1                     92355
2  1997                       1                     81881

  Valor da Contribuição - R$ Categoria até 2006 Categoria depois de 2007
0                 7793521,44         Individual                {ñ class}
1                 4610618,86         Individual                {ñ class}
2                 2580481,35          Doméstico                DOMÉSTICO
df type: Ano                           object
Numero de Contribuições       object
Fonte                         object
Qtde Outros Contribuintes    float64
dtype: object
head:     Ano Numero de Contribuições  Fonte  Qtde Outros Contribuintes
0  2003                       1    Gps                   367907.0
1  2003                       1   Gfip                   607573.0
2  2003                       1  Ambas                     2610.0
df type: Ano                               object
Sexo                              object
Qtde Outros Contribuintes         object
Número Médio Mensal Out Contri    object
Valor da Contribuição - R$        object
Categoria até 2006                object
Vlr Sal Contribuição - R$         object
Estatística Out Contribuintes     object
Categoria                         object
dtype: object
head:     Ano       Sexo Qtde Outros Contribuintes Número Médio Mensal Out Contri  \
0  1995  Masculino                   1316998                           0,00
1  1995   Feminino                   1113938                           0,00
2  1995   Ignorado                     50697                           0,00

  Valor da Contribuição - R$ Categoria até 2006 Vlr Sal Contribuição - R$  \
0                       0,00         Individual                      0,00
1                       0,00         Individual                      0,00
2                       0,00         Individual                      0,00

  Estatística Out Contribuintes   Categoria
0     Qtde Outros Contribuintes  Individual
1     Qtde Outros Contribuintes  Individual
2     Qtde Outros Contribuintes  Individual

df type: Ano                                object
Unidade da Federação               object
Opção pelo SIMPLES                 object
Quantidade de Vínculos             object
Valor da Remuneração (R$)          object
Quantidade de Estabelecimentos    float64
Valor Devido das Empresas (R$)     object
ContribuintesGFIP                  object
dtype: object
head:     Ano Unidade da Federação        Opção pelo SIMPLES Quantidade de Vínculos  \
0  1999             Rondônia      Optante Pelo Simples                  24486
1  1999             Rondônia  Não Optante Pelo Simples                  59766
2  1999                 Acre      Optante Pelo Simples                   5758

  Valor da Remuneração (R$)  Quantidade de Estabelecimentos  \
0                6273855,77                          5378.0
1               28762559,90                          9011.0
2                1341427,75                          1199.0

  Valor Devido das Empresas (R$)       ContribuintesGFIP
0                      954121,74  Quantidade de Vínculos
1                     7825581,52  Quantidade de Vínculos
2                      285671,71  Quantidade de Vínculos
df type: Ano                            object
Unidade da Federação           object
Quantidade de Contribuintes    object
Número Médio Mensal Contrib    object
Valor  das Remunerações R$     object
Estatística Pessoa Física      object
dtype: object
head:     Ano Unidade da Federação Quantidade de Contribuintes  \
0  2003             Rondônia                      204767
1  2003                 Acre                       63705
2  2003             Amazonas                      333086

  Número Médio Mensal Contrib Valor  das Remunerações R$  \
0                   132048,17               991977838,26
1                    40566,25               348962173,54
2                   229939,92              2400246441,21

     Estatística Pessoa Física
0  Quantidade de Contribuintes
1  Quantidade de Contribuintes
2  Quantidade de Contribuintes
df type: Ano                         object
SAEaux                      object
Quantidade de Vínculos      object
Número Médio de Vínculos    object
Vl Remuneração (R$)         object
Estatísticas                object
dtype: object
head:     Ano                           SAEaux Quantidade de Vínculos  \
0  2007                     Agropecuária                2787047
1  2007                        Extrativa                 231310
2  2007  Produtos Alimentícios e Bebidas                2154349

  Número Médio de Vínculos Vl Remuneração (R$)         Estatísticas
0               1488041,08      12451897264,52  Vl Remuneração (R$)
1                164205,08       5741575966,79  Vl Remuneração (R$)
2               1303656,25      16194571448,66  Vl Remuneração (R$)
df type: Ano                            object
Quantidade de Contribuintes    object
Número Médio Mensal Contrib    object
Valor  das Remunerações R$     object
Faixa de Idade                 object
Estatística Pessoa Física      object
Sexo                           object
dtype: object
head:     Ano Quantidade de Contribuintes Número Médio Mensal Contrib  \
0  2003                      841507                   482313,00
1  2003                      538782                   299798,00
2  2003                          20                       17,00

  Valor  das Remunerações R$ Faixa de Idade    Estatística Pessoa Física  \
0              2115834467,00    Até 19 anos  Quantidade de Contribuintes
1              1283789863,00    Até 19 anos  Quantidade de Contribuintes
2                   51223,00    Até 19 anos  Quantidade de Contribuintes

        Sexo
0  Masculino
1   Feminino
2   Ignorado
df type: Ano                                object
Mês                                object
Opção pelo SIMPLES                 object
Quantidade de Vínculos             object
Valor da Remuneração (R$)          object
Quantidade de Estabelecimentos    float64
Valor Devido das Empresas (R$)     object
Evolução Mensal (AnoMês)           object
ContribuintesGFIP                  object
dtype: object
head:     Ano        Mês        Opção pelo SIMPLES Quantidade de Vínculos  \
0  1999    Janeiro      Optante Pelo Simples                3776457
1  1999    Janeiro  Não Optante Pelo Simples               14423989
2  1999  Fevereiro      Optante Pelo Simples                4011039

  Valor da Remuneração (R$)  Quantidade de Estabelecimentos  \
0             1626973813,93                        901397.0
1            10648148047,14                       1922298.0
2             1782104746,50                        922165.0

  Valor Devido das Empresas (R$) Evolução Mensal (AnoMês)  \
0                   201851540,71                   199901
1                  1594838930,76                   199901
2                   223763591,43                   199902

        ContribuintesGFIP
0  Quantidade de Vínculos
1  Quantidade de Vínculos
2  Quantidade de Vínculos
df type: Ano                               object
Faixa Recolhimento (Piso Prev)    object
CategoriaW                        object
Qtde Outros Contribuintes         object
Valor da Contribuição - R$        object
Vlr Sal Contribuição - R$         object
Estatísticas                      object
Categoria até 2006                object
Categoria depois de 2007          object
dtype: object
head:     Ano Faixa Recolhimento (Piso Prev)  CategoriaW Qtde Outros Contribuintes  \
0  1999                          Até 1    Autônomo                     51992
1  1999                          Até 1  Empresário                     27438
2  1999                          Até 1   Doméstico                    129443

  Valor da Contribuição - R$ Vlr Sal Contribuição - R$  \
0                 7993259,39                      0,00
1                 4616141,48                      0,00
2                23348152,48                      0,00

                Estatísticas Categoria até 2006 Categoria depois de 2007
0  Qtde Outros Contribuintes         Individual                {ñ class}
1  Qtde Outros Contribuintes         Individual                {ñ class}
2  Qtde Outros Contribuintes          Doméstico                DOMÉSTICO
df type: Ano                            object
Numero de Contribuições        object
Tipo de Contribuinte/Fonte     object
Quantidade de Contribuintes    object
Tipo de Contribuinte Resumo    object
dtype: object
head:     Ano Numero de Contribuições Tipo de Contribuinte/Fonte  \
0  2003                       1                  Empregado
1  2003                       1            Outro Contr-Gps
2  2003                       1           Outro Contr-Gfip

  Quantidade de Contribuintes Tipo de Contribuinte Resumo
0                     1436314    Trabalhadores Empregados
1                      325925        Outros Contribuintes
2                      410199        Outros Contribuintes
df type: Ano                      object
Espécies - Ac. Int.      object
Países Acordantes        object
Qtd Créd. Emit AcInt    float64
Vlr Créd. Emit Acum.     object
Vlr Créd. Emit AcInt     object
dtype: object
head:     Ano              Espécies - Ac. Int. Países Acordantes  \
0  2000  Apos. por Tempo de Contribuição           Espanha
1  2000  Apos. por Tempo de Contribuição            Grécia
2  2000  Apos. por Tempo de Contribuição          Portugal

   Qtd Créd. Emit AcInt Vlr Créd. Emit Acum. Vlr Créd. Emit AcInt
0                 395.0           3229886,36            260249,67
1                  17.0            131970,05             41468,86
2                2337.0          19169483,75           1521777,21
df type: Ano                               object
Mês                               object
Clientela                         object
Quantidade Benefícios Emitidos    object
Evolução Mensal (AnoMes)          object
Vlr Benefícios Emitidos (R$)      object
Grupo/Principais Espécies         object
Vlr Benef Emitidos (Mil R$)       object
dtype: object
head:     Ano        Mês Clientela Quantidade Benefícios Emitidos  \
0  1993    Janeiro    Urbana                        1323409
1  1993  Fevereiro    Urbana                        1331347
2  1993      Março    Urbana                        1341365

  Evolução Mensal (AnoMes) Vlr Benefícios Emitidos (R$)  \
0                   199301                   3017977,43
1                   199302                   3125952,05
2                   199303                   4239286,18

  Grupo/Principais Espécies Vlr Benef Emitidos (Mil R$)
0  42-Ap Tempo Contrib LOPS                     3017,98
1  42-Ap Tempo Contrib LOPS                     3125,95
2  42-Ap Tempo Contrib LOPS                     4239,29

df type: Ano                               object
Unidade da Federação              object
Clientela                         object
Quantidade Benefícios Emitidos    object
Vlr Benefícios Emitidos (R$)      object
Vlr Benef Emitidos Acum (R$)      object
Grupo/Principais Espécies         object
Vlr Benef Emitidos (Mil R$)       object
Vlr Benef Emit Acum (Mil R$)      object
dtype: object
head:     Ano Unidade da Federação Clientela Quantidade Benefícios Emitidos  \
0  1994             Rondônia    Urbana                            577
1  1994             Rondônia    Urbana                            175
2  1994             Rondônia    Urbana                             16

  Vlr Benefícios Emitidos (R$) Vlr Benef Emitidos Acum (R$)  \
0                    167759,82                   1518595,69
1                     41188,09                    399862,92
2                      4494,12                     47143,95

      Grupo/Principais Espécies Vlr Benef Emitidos (Mil R$)  \
0      42-Ap Tempo Contrib LOPS                      167,76
1  46-Ap Tempo Contrib Especial                       41,19
2       Outras Ap Tempo Contrib                        4,49

  Vlr Benef Emit Acum (Mil R$)
0                      1518,60
1                       399,86
2                        47,14
df type: Ano                               object
Mês                               object
Unidade da Federação              object
Clientela                         object
Quantidade Benefícios Emitidos    object
Evolução Mensal (AnoMes)          object
Valor Benefícios Emitidos (R$)    object
Valor Benef Emitidos (Mil R$)     object
dtype: object
head:     Ano        Mês Unidade da Federação Clientela  \
0  1995    Janeiro             Rondônia     Rural
1  1995  Fevereiro             Rondônia     Rural
2  1995      Março             Rondônia     Rural

  Quantidade Benefícios Emitidos Evolução Mensal (AnoMes)  \
0                          44665                   199501
1                          44679                   199502
2                          44944                   199503

  Valor Benefícios Emitidos (R$) Valor Benef Emitidos (Mil R$)
0                     4594656,55                       4594,66
1                     3972559,81                       3972,56
2                     3955708,38                       3955,71
df type: Ano                         object
Mês                         object
Evolução Mensal (AnoMes)    object
Unidade da Federação        object
Valor Arrecadado (R$)       object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMes) Unidade da Federação  \
0  1996  Janeiro                   199601             Rondônia
1  1996  Janeiro                   199601                 Acre
2  1996  Janeiro                   199601             Amazonas

  Valor Arrecadado (R$)
0            5347841,00
1            3064935,00
2           26672342,00
df type: Ano                             object
Mês                             object
Evolução Mensal (AnoMês)        object
Rubrica GPS                     object
Valor Contribuição Efet (R$)    object
dtype: object
head:     Ano      Mês Evolução Mensal (AnoMês)        Rubrica GPS  \
0  1997  Janeiro                   199701               INSS
1  1997  Janeiro                   199701   Outras Entidades
2  1997  Janeiro                   199701  Acréscimos Legais

  Valor Contribuição Efet (R$)
0                2660660030,00
1                 254976324,00
2                   4659617,00
df type: Fonte de Receita Arrecadação    object
Ano                             object
Mês                             object
Evolução Mensal (AnoMes)        object
Vlr Arrecadado                  object
dtype: object
head:        Fonte de Receita Arrecadação   Ano        Mês Evolução Mensal (AnoMes)  \
0  Empresas e Entidades Equiparadas  2000    Janeiro                   200001
1  Empresas e Entidades Equiparadas  2000  Fevereiro                   200002
2  Empresas e Entidades Equiparadas  2000      Março                   200003

  Vlr Arrecadado
0  3612165355,00
1  3682092015,00
2  3657245519,00

In [47]:
df.dtypes

Fonte de Receita Arrecadação    object
Ano                             object
Mês                             object
Evolução Mensal (AnoMes)        object
Vlr Arrecadado                  object
dtype: object

In [48]:
df.dtypes.index

Index(['Fonte de Receita Arrecadação', 'Ano', 'Mês',
       'Evolução Mensal (AnoMes)', 'Vlr Arrecadado'],
      dtype='object')

In [71]:
df.dtypes.to_json(index='split', orient='records')

'[{"alignment":4,"byteorder":"|","descr":[["","|O"]],"flags":63,"isalignedstruct":false,"isnative":true,"kind":"O","name":"object","ndim":0,"num":17,"str":"|O"},{"alignment":4,"byteorder":"|","descr":[["","|O"]],"flags":63,"isalignedstruct":false,"isnative":true,"kind":"O","name":"object","ndim":0,"num":17,"str":"|O"},{"alignment":4,"byteorder":"|","descr":[["","|O"]],"flags":63,"isalignedstruct":false,"isnative":true,"kind":"O","name":"object","ndim":0,"num":17,"str":"|O"},{"alignment":4,"byteorder":"|","descr":[["","|O"]],"flags":63,"isalignedstruct":false,"isnative":true,"kind":"O","name":"object","ndim":0,"num":17,"str":"|O"},{"alignment":4,"byteorder":"|","descr":[["","|O"]],"flags":63,"isalignedstruct":false,"isnative":true,"kind":"O","name":"object","ndim":0,"num":17,"str":"|O"}]'